/*
Whole-cell knowledge base print styles

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Last updated: 2012-07-17
*/

body{
	padding:0px;
	margin:0px;
}

a, a:hover, a:active, a:visited, a:link{
	color:black;
}

/* header */
#header{
	display:none;
}

/* footer */
#footer{
	display:none;
}

/* main content */
#main{
	width:100%;
	margin-top:0px;
	margin-bottom:0px;
}

#content div pre{
    max-width:650px;
}

/* tutorial */
#content #tutorial{
    position:relative;
    margin:auto auto;
    top:auto;
    bottom:auto;
    left:auto;
    right:auto;
    width:auto;
    height:auto;
    border:none;
    border-radius:0px;
    background:transparent;
    padding:0px;
    box-shadow: none;
}