/*
Whole-cell knowledge base styles

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Last updated: 2012-07-17
*/

/****************
 * main 
 ****************/
body{
	margin:0px;
	padding:0px;
	padding-top:10px;
	padding-bottom:10px;
}
table{
	border-collapse:separate;
	border-spacing:0px 0px;
}
body, table, input{
    font-size:12px;
	font-family:PT Sans,sans-serif;
}

th, td{
	vertical-align:top;
    text-align:left;
}

a, a:hover, a:active, a:visited, a:link{
	color:#3d80b3;
	text-decoration:none;
}

a img{
	border:none;
}

ul.jqtree-tree .jqtree-toggler {
    display: block;
    position: absolute;
    left: -1.1em;
    top: 10%;
    *top: 0;  /* fix for ie7 */
    border-bottom: none;
    color: #000;
}

option.group span{
    font-weight:bold;
}    
option.sub span{
    margin-left:10px;
}
option.subsub span{
    margin-left:20px;
}

input.error {border-color:red;}
select.error {border-color:red;}

/****************
 * header 
 ****************/
#header {
	z-index: 100000;
	position:fixed;
	left:0px;
	top:0px;
	right:0px;
	height: 65px;
	overflow: hidden;
	margin: 0px 0px 0px 0px;	
	border-top:none;
	border-right:none;
	border-left:none;
}

#header .title {
	position:relative;
	font-size: 16px;
	color: #222222;
	top:0px;
	left:70px;
	font-style:italic;
}

#header  .banner{
	position:absolute;
	top:2px;
	left:0px;
}

#header .menu{	
	position:absolute;
	top:47px;
	height:18px;
	list-style:none;
	margin:0px;
	padding:0px;
	font-weight: normal;
	left:66px;
	text-align:left;
}
#header .menu li{
	float:left;
	display:inline;
	margin:0px;
	padding-top:2px;
	padding-bottom:6px;
}
#header .menu li.spacer{
	width:1px;
	height:10px;
	background: #222;
}
#header .menu li:nth-child(odd), #header .menu li ul li{
	padding-left:4px;
	padding-right:4px;
}
#header .menu li:first-child{
	border-left:none;
}
#header .menu li:hover{
	background-color:#fff;
}
#header .menu li:hover a{
	color:#3d80b3;
}
#header .menu a{
	color: #3d80b3;
	margin:0px;
	padding:0px;
}

#header .menu li ul{
	background:#cccccc;
	list-style:none;
	position:fixed;
	top:65px;	
	visibility:hidden;
	border-bottom:1px solid #aaaaaa;
	border-left:1px solid #aaaaaa;
	border-right:1px solid #aaaaaa;
	width:auto;	
	padding:0px;
	margin:0px;
	margin-left:-5px;
}
#header .menu li:hover ul{
	visibility:visible;
}
#header .menu li ul li{
	padding-bottom:2px;	
}
#header .menu li:hover ul li{
	float:none;
	padding-top:1px;	
	display:list-item;
	text-align:left;
}
#header .menu li:hover ul li:hover{
	background:#fff;
}
#header .menu li:hover ul li a{
	white-space:nowrap;
	color:#3d80b3;
}
#header .menu li:hover ul li:hover a{
	color:#3d80b3;
}

#header .search{
	position:absolute;
	top:20px;
	right:4px;	
}
#header .search table tr td{
	padding:0px;
	margin:0px;
	text-align:center;	
}
#header .search img{
	position:relative;
	top:5px;
	padding-left:2px;
}
#header .search input.text{
	width:140px;
	padding-left:4px;
	padding-right:4px;
}
#header .search input.text-default{	
	font-style:italic;
	color:#aaa;
}
#header .search input.highlight{	
	background-color:#ffff99;
}

#header .search table tr td.engine span{
	position:relative;
	top:-2px;	
	left:-2px;
	color:#222;
	padding:0px;
	margin:0px;
}

/****************
 * footer 
 ****************/
#footer {
	z-index: 100001;
	position:fixed;
	left:0px;
	bottom:0px;
	right:0px;
	height: 24px;
	overflow: hidden;
	margin: 0px 0px 0px 0px;	
	padding-top:4px;
	padding-bottom:4px;
	border-bottom:none;
	border-right:none;
	border-left:none;
	text-align:center;
	font-size:10px;
}

#footer, #footer a{
	color:#222;
}
#footer .left{
	position:absolute;
	top:8px;
	left:8px;
	width:200px;
	text-align:left;
}
#footer .center{
	margin:0 auto;
	width:600px;
	position:relative;
	top:-1px;
}
#footer .right{
	position:absolute;
	top:8px;
	right:8px;
	width:200px;
	text-align:right;
}

/****************
 * content 
 ****************/
#main{
	margin:0 auto;
	margin-top:80px;
	margin-bottom:40px;
	width:800px;
	padding:0px;
	height:100%;
}

#content{
	width:100%;
}
#content div h1{
	color: #3d80b3;
	margin-bottom:6px;
	margin-top:26px;
	line-height:100%;
}
#content div h1 a{
	color: #3d80b3;
}
#content div h2{
    margin-bottom:6px;
}

#content div p{
	margin-bottom:6px;
	margin-top:0px;
	padding:0px;
}
#content div ul, #content div ol{
	margin:0px;	    
	padding-left:16px;
}
#content div ol ul, #content div ul.inparagraph{
    margin-top:-6px;
    margin-bottom:6px;
}
#content div ul ul {
    margin-top:0px;
    margin-bottom:0px;
}
#content div ul li p{
    margin:0px;
    margin-left:-6px;    
}
#content div tt{
    background-color: #dedede;
    border:1px solid #999;
    padding-left:2px;
    padding-right:2px;
    padding-bottom:2px;   
}
#content div pre{
    width:100%;
    background-color: #dedede;
    border:1px solid #999;
    padding:6px;
    margin-top:0px;
    margin-bottom:12px;
}

#content div table.twocol, #content div table.threecol, #content div table.fourcol {
    width:100%;
}

#content div table.twocol td{
    width:50%;
}
#content div table.threecol td{
    width:33%;
}
#content div table.fourcol td{
    width:25%;
}

#content div table.table thead tr th {        
    background: #d6edff;
}
#content div table.table thead tr:first-child th{
    text-align:center;
}
#content div table.table thead tr:last-child th {    
    text-align:left;
    border-bottom: 1px solid #3d80b3;    
}
#content div table.table {
    border-top: 1px solid #3d80b3;
    border-bottom: 1px solid #3d80b3;
}
#content div table.table tbody tr:nth-child(even) th, #content div table.table tbody tr:nth-child(even) td{
	background:#e3e3e3;
}
#content div table.table tbody tr:nth-child(odd) th, #content div table.table tbody tr:nth-child(odd) td{
	background:#efefef;
}
#content div table.table tr th, #content div table.table tr td{
    padding-right: 3px;
    padding-left: 3px;
    border-right:1px solid #BDD4E6;
}
#content div table.table tr th:last-child, #content div table.table tr td:last-child{
    border-right:none;
}

#content div table.summary {width:100%;}
#content div table.summary thead tr th, #content div table.summary tbody tr th{text-align: left;}
#content div table.summary thead tr th:last-child, #content div table.summary tbody tr td{text-align: right;}

/****************
 * lists 
 ****************/
 
/* organisms */
#content div table.list_organisms {width:100%;}
#content div table.list_organisms thead tr:nth-child(1) th:nth-child(1),  
#content div table.list_organisms thead tr:nth-child(2) th:nth-child(3), 
#content div table.list_organisms tbody tr td:nth-child(3)
{
    border-right: 1px solid #3d80b3;
}
#content div table.list_organisms tbody tr td:nth-child(2), 
#content div table.list_organisms tbody tr td:nth-child(3),
#content div table.list_organisms tbody tr td:nth-child(4),
#content div table.list_organisms tbody tr td:nth-child(5)
{
    text-align:right;
}
#content div table.list_organisms tr th, #content div table.list_organisms tr td{padding-right: 3px; padding-left: 3px;}

/* batches */
#content div table.list_batches {width:100%;}
#content div table.list_batches thead tr:nth-child(1) th:nth-child(1),  
#content div table.list_batches thead tr:nth-child(2) th:nth-child(2), 
#content div table.list_batches tbody tr td:nth-child(2), 
#content div table.list_batches thead tr:nth-child(1) th:nth-child(2),
#content div table.list_batches thead tr:nth-child(2) th:nth-child(6),
#content div table.list_batches tbody tr td:nth-child(6),
#content div table.list_batches thead tr:nth-child(1) th:nth-child(3),
#content div table.list_batches thead tr:nth-child(2) th:nth-child(7),
#content div table.list_batches tbody tr td:nth-child(7)
{
    border-right: 1px solid #3d80b3;
}
#content div table.list_batches tbody tr td:nth-child(4), #content div table.list_batches tbody tr td:nth-child(7){
    text-align:right;
}
#content div table.list_batches tr th, #content div table.list_batches tr td{padding-right: 3px; padding-left: 3px;}

/* simulations */
#content div table.list_simulations {width:100%;}
#content div table.list_simulations thead tr:nth-child(1) th:nth-child(1),
#content div table.list_simulations thead tr:nth-child(2) th:nth-child(2),
#content div table.list_simulations tbody tr td:nth-child(2),
#content div table.list_simulations thead tr:nth-child(1) th:nth-child(2),
#content div table.list_simulations thead tr:nth-child(2) th:nth-child(4),
#content div table.list_simulations tbody tr td:nth-child(4),
#content div table.list_simulations thead tr:nth-child(1) th:nth-child(3),
#content div table.list_simulations thead tr:nth-child(2) th:nth-child(6),
#content div table.list_simulations tbody tr td:nth-child(6),
#content div table.list_simulations thead tr:nth-child(1) th:nth-child(4),
#content div table.list_simulations thead tr:nth-child(2) th:nth-child(7),
#content div table.list_simulations tbody tr td:nth-child(7)
{
    border-right: 1px solid #3d80b3;
}
#content div table.list_simulations tbody tr td:nth-child(4), #content div table.list_simulations tbody tr td:nth-child(7){
    text-align:right;
}
#content div table.list_simulations tr th, #content div table.list_simulations tr td{padding-right: 3px; padding-left: 3px;}

/* options */
#content div table.list_options {width:100%;}
#content div table.list_options thead tr th { background: #d6edff;}
#content div table.list_options thead tr:nth-child(1) th {border-top: 1px solid #3d80b3; padding-bottom:3px;}
#content div table.list_options thead tr:nth-child(1) th {height:123px; overflow:hidden; text-overflow:ellipsis;}
#content div table.list_options thead tr:nth-child(1) th div {
    line-height: 1.5em;
    display:block;
    white-space:nowrap;
    padding:0px;
    padding-left:3px;
    width:0px;
    min-width:15px;
    margin: 0 auto;
    
    writing-mode: tb-rl;
    filter: flipv fliph;
    transform: rotate(270deg) translate(-123px,0);
    transform-origin: 0 0;
    -moz-transform: rotate(270deg) translate(-123px,0);
    -moz-transform-origin: 0 0;
    -webkit-transform: rotate(270deg) translate(-123px,0);
    -webkit-transform-origin: 0 0;
    }
#content div table.list_options thead tr th { border-left: 1px solid #3d80b3;}
#content div table.list_options tbody tr:last-child th, #content div table.list_options tbody tr:last-child td { border-bottom: 1px solid #3d80b3;}
#content div table.list_options tbody tr td, #content div table.list_options tbody tr td { border-left: 1px solid #BDD4E6;}
#content div table.list_options tbody tr td:nth-child(1), #content div table.list_options tbody tr td:nth-child(1) { border-left: none;}
#content div table.list_options tbody tr td:nth-child(2), #content div table.list_options tbody tr td:nth-child(2) { border-left: 1px solid #3d80b3;}
#content div table.list_options tbody th {border-top:1px solid #3d80b3; background: #efefef;}
#content div table.list_options tbody tr .level1 {border-top:1px solid #BDD4E6;}
#content div table.list_options tbody tr .level1:first-child {padding-left:12px;}
#content div table.list_options tbody tr .level2:first-child {padding-left:24px;}
#content div table.list_options tr th, #content div table.list_options tr td{padding-right: 0px; padding-left: 0px;}
#content div table.list_options tr td{text-align:center; max-width:100px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#content div table.list_options tr td:first-child{text-align:left; padding-right:3px; max-width:none; width:100%;}

/* parameters */
#content div table.list_parameters {width:100%;}
#content div table.list_parameters thead tr th { background: #d6edff;}
#content div table.list_parameters thead tr:nth-child(1) th {border-top: 1px solid #3d80b3; padding-bottom:3px;}
#content div table.list_parameters thead tr:nth-child(1) th {height:123px; overflow:hidden; text-overflow:ellipsis;}
#content div table.list_parameters thead tr:nth-child(1) th div {
    line-height: 1.5em;
    display:block;
    white-space:nowrap;
    padding:0px;
    padding-left:3px;
    width:0px;
    min-width:15px;
    margin: 0 auto;
    
    writing-mode: tb-rl;
    filter: flipv fliph;
    transform: rotate(270deg) translate(-123px,0);
    transform-origin: 0 0;
    -moz-transform: rotate(270deg) translate(-123px,0);
    -moz-transform-origin: 0 0;
    -webkit-transform: rotate(270deg) translate(-123px,0);
    -webkit-transform-origin: 0 0;
    }
#content div table.list_parameters thead tr th { border-left: 1px solid #3d80b3;}
#content div table.list_parameters tbody tr:last-child th, #content div table.list_parameters tbody tr:last-child td { border-bottom: 1px solid #3d80b3;}
#content div table.list_parameters tbody tr td, #content div table.list_parameters tbody tr td { border-left: 1px solid #BDD4E6;}
#content div table.list_parameters tbody tr td:nth-child(1), #content div table.list_parameters tbody tr td:nth-child(1) { border-left: none;}
#content div table.list_parameters tbody tr td:nth-child(2), #content div table.list_parameters tbody tr td:nth-child(2) { border-left: 1px solid #3d80b3;}
#content div table.list_parameters tbody th {border-top:1px solid #3d80b3; background: #efefef;}
#content div table.list_parameters tbody tr .level1 {border-top:1px solid #BDD4E6;}
#content div table.list_parameters tbody tr .level1:first-child {padding-left:12px;}
#content div table.list_parameters tbody tr .level2:first-child {padding-left:24px;}
#content div table.list_parameters tr th, #content div table.list_parameters tr td{padding-right: 0px; padding-left: 0px;}
#content div table.list_parameters tr td{text-align:center; max-width:100px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#content div table.list_parameters tr td:first-child{text-align:left; padding-right:3px; max-width:none; width:100%;}

/* processes */
#content div table.list_processes {width:100%;}
#content div table.list_processes thead tr th { background: #d6edff;}
#content div table.list_processes thead tr:nth-child(1) th {border-top: 1px solid #3d80b3; padding-bottom:3px;}
#content div table.list_processes thead tr:nth-child(1) th {height:123px; overflow:hidden; text-overflow:ellipsis;}
#content div table.list_processes thead tr:nth-child(1) th div {
    line-height: 1.5em;
    display:block;
    white-space:nowrap;
    padding:0px;
    padding-left:3px;
    width:0px;
    min-width:15px;
    margin: 0 auto;
    
    writing-mode: tb-rl;
    filter: flipv fliph;
    transform: rotate(270deg) translate(-123px,0);
    transform-origin: 0 0;
    -moz-transform: rotate(270deg) translate(-123px,0);
    -moz-transform-origin: 0 0;
    -webkit-transform: rotate(270deg) translate(-123px,0);
    -webkit-transform-origin: 0 0;
    }
#content div table.list_processes thead tr th { border-left: 1px solid #3d80b3;}
#content div table.list_processes thead tr:last-child th, #content div table.list_processes thead tr:last-child td { border-bottom: 1px solid #3d80b3;}
#content div table.list_processes tbody tr:last-child th, #content div table.list_processes tbody tr:last-child td { border-bottom: 1px solid #3d80b3;}
#content div table.list_processes tbody tr td, #content div table.list_processes tbody tr td { border-left: 1px solid #BDD4E6;}
#content div table.list_processes tbody tr td:nth-child(1), #content div table.list_processes tbody tr td:nth-child(1) { border-left: none;}
#content div table.list_processes tbody tr td:nth-child(2), #content div table.list_processes tbody tr td:nth-child(2) { border-left: 1px solid #3d80b3;}
#content div table.list_processes tbody th {border-top:1px solid #3d80b3; background: #efefef;}
#content div table.list_processes tbody tr:nth-child(even) td{ background:#e3e3e3;}
#content div table.list_processes tbody tr:nth-child(odd) td{background:#efefef;}
#content div table.list_processes tr th, #content div table.list_processes tr td{padding-right: 0px; padding-left: 0px;}
#content div table.list_processes tr td{text-align:center; max-width:100px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#content div table.list_processes tr td:first-child{text-align:left; padding-right:3px; max-width:none; width:100%;}

/* states */
#content div table.list_states {width:100%;}
#content div table.list_states thead tr th { background: #d6edff;}
#content div table.list_states thead tr:nth-child(1) th {border-top: 1px solid #3d80b3; padding-bottom:3px;}
#content div table.list_states thead tr:nth-child(1) th {height:123px; overflow:hidden; text-overflow:ellipsis;}
#content div table.list_states thead tr:nth-child(1) th div {
    line-height: 1.5em;
    display:block;
    white-space:nowrap;
    padding:0px;
    padding-left:3px;
    width:0px;
    min-width:15px;
    margin: 0 auto;
    
    writing-mode: tb-rl;
    filter: flipv fliph;
    transform: rotate(270deg) translate(-123px,0);
    transform-origin: 0 0;
    -moz-transform: rotate(270deg) translate(-123px,0);
    -moz-transform-origin: 0 0;
    -webkit-transform: rotate(270deg) translate(-123px,0);
    -webkit-transform-origin: 0 0;
    }
#content div table.list_states thead tr th { border-left: 1px solid #3d80b3;}
#content div table.list_states tbody tr:last-child th, #content div table.list_states tbody tr:last-child td { border-bottom: 1px solid #3d80b3;}
#content div table.list_states tbody tr td, #content div table.list_states tbody tr td { border-left: 1px solid #BDD4E6;}
#content div table.list_states tbody tr td:nth-child(1), #content div table.list_states tbody tr td:nth-child(1) { border-left: none;}
#content div table.list_states tbody tr td:nth-child(2), #content div table.list_states tbody tr td:nth-child(2) { border-left: 1px solid #3d80b3;}
#content div table.list_states tbody th {border-top:1px solid #3d80b3; background: #efefef;}
#content div table.list_states tbody tr .level1 {border-top:1px solid #BDD4E6;}
#content div table.list_states tbody tr .level1:first-child {padding-left:12px;}
#content div table.list_states tr th, #content div table.list_states tr td{padding-right: 0px; padding-left: 0px;}
#content div table.list_states tr td{text-align:center; max-width:100px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#content div table.list_states tr td:first-child{text-align:left; padding-right:3px; max-width:none; width:100%;}

/* investigators */
#content div table.list_investigators {width:100%;}
#content div table.list_investigators thead tr:nth-child(1) th:nth-child(1),  
#content div table.list_investigators thead tr:nth-child(2) th:nth-child(2), 
#content div table.list_investigators tbody tr td:nth-child(2)
{
    border-right: 1px solid #3d80b3;
}
#content div table.list_investigators tbody tr td:nth-child(3),
#content div table.list_investigators tbody tr td:nth-child(4),
#content div table.list_investigators tbody tr td:nth-child(5)
{
    text-align:right;
}
#content div table.list_investigators tr th, #content div table.list_investigators tr td{padding-right: 3px; padding-left: 3px;}

/* investigators' organisms, batches */
#content div table.list_investigator__organisms {width:100%;}
#content div table.list_investigator__organisms thead tr:nth-child(1) th:nth-child(1), 
#content div table.list_investigator__organisms thead tr:nth-child(2) th:nth-child(2), 
#content div table.list_investigator__organisms tbody tr td:nth-child(2){
    border-right: 1px solid #3d80b3;
}
#content div table.list_investigator__organisms tbody tr td:nth-child(2),
#content div table.list_investigator__organisms tbody tr td:nth-child(3),
#content div table.list_investigator__organisms tbody tr td:nth-child(4){
    text-align:right;
}
#content div table.list_investigator__organisms tr th, #content div table.list_investigator__organisms tr td{padding-right: 3px; padding-left: 3px;}

#content div table.list_investigator__simulation_batches {width:100%;}
#content div table.list_investigator__simulation_batches thead tr:nth-child(1) th:nth-child(1), 
#content div table.list_investigator__simulation_batches thead tr:nth-child(2) th:nth-child(2), 
#content div table.list_investigator__simulation_batches tbody tr td:nth-child(2){
    border-right: 1px solid #3d80b3;
}
#content div table.list_investigator__simulation_batches tbody tr td:nth-child(4){
    text-align:right;
}
#content div table.list_investigator__simulation_batches tr th, #content div table.list_investigator__simulation_batches tr td{padding-right: 3px; padding-left: 3px;}

/* organism's batches, investigators */
#content div table.list_organism__simulation_batches {width:100%;}
#content div table.list_organism__simulation_batches thead tr:nth-child(1) th:nth-child(1), 
#content div table.list_organism__simulation_batches thead tr:nth-child(2) th:nth-child(1), 
#content div table.list_organism__simulation_batches tbody tr td:nth-child(1){
    border-right: 1px solid #3d80b3;
}
#content div table.list_organism__simulation_batches tbody tr td:nth-child(3){
    text-align:right;
}
#content div table.list_organism__simulation_batches tr th, #content div table.list_organism__simulation_batches tr td{padding-right: 3px; padding-left: 3px;}

#content div table.list_organism__investigators {width:100%;}
#content div table.list_organism__investigators tbody tr td:nth-child(3),
#content div table.list_organism__investigators tbody tr td:nth-child(4){
    text-align:right;
}
#content div table.list_organism__investigators tr th, #content div table.list_organism__investigators tr td{padding-right: 3px; padding-left: 3px;}

/* batch's simulations */
#content div table.list_simulation_batch__simulations {width:100%;}
#content div table.list_simulation_batch__simulations thead tr:nth-child(1) th:nth-child(1), 
#content div table.list_simulation_batch__simulations tbody tr td:nth-child(1),
#content div table.list_simulation_batch__simulations thead tr:nth-child(1) th:nth-child(2), 
#content div table.list_simulation_batch__simulations tbody tr td:nth-child(2)
{
    border-right: 1px solid #3d80b3;
}
#content div table.list_simulation_batch__simulations tbody tr td:nth-child(2){
    text-align:right;
}
#content div table.list_simulation_batch__simulations tr th, #content div table.list_simulation_batch__simulations tr td{padding-right: 3px; padding-left: 3px;}

/* simulation */
#content div .data-series {}
#content div .data-series .twocolumns .left {float:left; width:551px;}
#content div .data-series .twocolumns .right {float:left; width:230px; padding-left:15px; padding-right:4px;}
#content div .data-series .jqx-widget-content ,
#content div .data-series .jqx-widget {font-size:12px; font-family:PT Sans,sans-serif;}
#content div .data-series .data-series-table {width:100%; height:100%px;}
#content div .data-series .data-series-table .jqx-grid-column-header {font-weight:bold; background: #d6edff;}
#content div .data-series .data-series-table .jqx-grid-table {font-size:12px; font-family:PT Sans,sans-serif;}
#content div .data-series .data-series-table .jqx-cell {min-height: 17px; padding: 1px 3px;}
#content div .data-series .data-series-table .jqx-grid-cell {margin:0px;}
#content div .data-series .data-series-table .jqx-tree-grid-title {margin-top:0px;}
#content div .data-series .data-series-table .jqx-tree-grid-collapse-button, #content div .data-series .data-series-table .jqx-tree-grid-expand-button {margin-top:0px;}
#content div .data-series .data-series-table .jqx-tree-grid-checkbox{ width:12px; height:12px;}
#content div .data-series .data-series-plot {margin:10px 0 0 0px; text-align:center;}


/* option */
#content div table.option {width:100%;}
#content div table.option {border-top:1px solid #3d80b3; border-bottom:1px solid #3d80b3;}
#content div table.option thead tr th{background:#d6edff; border-bottom:1px solid #3d80b3;}
#content div table.option tbody tr td.level1:first-child {padding-left:12px;}
#content div table.option tr th:nth-child(2), #content div table.option tr td:nth-child(2), #content div table.option tr th:nth-child(3), #content div table.option tr td:nth-child(3) {padding-left:10px; border-left: 1px solid #BDD4E6; }
#content div table.option thead tr th:nth-child(2), #content div table.option tbody tr td:nth-child(2) {padding-right:10px; }
#content div table.option tbody tr td:nth-child(2) {text-align:right;}
#content div table.option tbody tr th {border-top: 1px solid #BDD4E6;}
#content div table.option tbody tr:first-child th {border-top: none;}
#content div table.option tr th, #content div table.option tr td{padding-right: 3px; padding-left: 3px;}

/* parameter */
#content div table.parameter {width:100%;}
#content div table.parameter {border-top:1px solid #3d80b3; border-bottom:1px solid #3d80b3;}
#content div table.parameter thead tr th{background:#d6edff; border-bottom:1px solid #3d80b3;}
#content div table.parameter tbody tr td.level1:first-child {padding-left:12px;}
#content div table.parameter tr th:nth-child(2), #content div table.parameter tr td:nth-child(2), #content div table.parameter tr th:nth-child(3), #content div table.parameter tr td:nth-child(3) {padding-left:10px; border-left: 1px solid #BDD4E6; }
#content div table.parameter thead tr th:nth-child(2), #content div table.parameter tbody tr td:nth-child(2) {padding-right:10px; }
#content div table.parameter tbody tr td:nth-child(2) {text-align:right;}
#content div table.parameter tbody tr th {border-top: 1px solid #BDD4E6;}
#content div table.parameter tbody tr:first-child th {border-top: none;}
#content div table.parameter tr th, #content div table.parameter tr td{padding-right: 3px; padding-left: 3px;}

/* process */
#content div table.list_process_option_parameter {width:100%;}
#content div table.list_process_option_parameter thead tr th { background: #d6edff;}
#content div table.list_process_option_parameter thead tr:nth-child(1) th {border-top: 1px solid #3d80b3; padding-bottom:3px;}
#content div table.list_process_option_parameter thead tr:nth-child(1) th {height:123px; overflow:hidden; text-overflow:ellipsis;}
#content div table.list_process_option_parameter thead tr:nth-child(1) th div {
    line-height: 1.5em;
    display:block;
    white-space:nowrap;
    padding:0px;
    padding-left:3px;
    width:0px;
    min-width:15px;
    margin: 0 auto;
    
    writing-mode: tb-rl;
    filter: flipv fliph;
    transform: rotate(270deg) translate(-123px,0);
    transform-origin: 0 0;
    -moz-transform: rotate(270deg) translate(-123px,0);
    -moz-transform-origin: 0 0;
    -webkit-transform: rotate(270deg) translate(-123px,0);
    -webkit-transform-origin: 0 0;
    }
#content div table.list_process_option_parameter thead tr th { border-left: 1px solid #3d80b3;}
#content div table.list_process_option_parameter tbody tr:last-child th, #content div table.list_process_option_parameter tbody tr:last-child td { border-bottom: 1px solid #3d80b3;}
#content div table.list_process_option_parameter tbody tr td, #content div table.list_process_option_parameter tbody tr td { border-left: 1px solid #BDD4E6;}
#content div table.list_process_option_parameter tbody tr td:nth-child(1), #content div table.list_process_option_parameter tbody tr td:nth-child(1) { border-left: none;}
#content div table.list_process_option_parameter tbody tr td:nth-child(2), #content div table.list_process_option_parameter tbody tr td:nth-child(2) { border-left: 1px solid #3d80b3;}
#content div table.list_process_option_parameter tbody th {border-top:1px solid #3d80b3; background: #efefef;}
#content div table.list_process_option_parameter tbody tr .level1 {border-top:1px solid #BDD4E6;}
#content div table.list_process_option_parameter tbody tr .level1:first-child {padding-left:12px;}
#content div table.list_process_option_parameter tr th, #content div table.list_process_option_parameter tr td{padding-right: 0px; padding-left: 0px;}
#content div table.list_process_option_parameter tr td{text-align:center; max-width:100px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#content div table.list_process_option_parameter tr td:first-child{text-align:left; padding-right:3px; max-width:none; width:100%;}

/* state */
#content div table.list_state_option_parameter_property {width:100%;}
#content div table.list_state_option_parameter_property thead tr th { background: #d6edff;}
#content div table.list_state_option_parameter_property thead tr:nth-child(1) th {border-top: 1px solid #3d80b3; padding-bottom:3px;}
#content div table.list_state_option_parameter_property thead tr:nth-child(1) th {height:123px; overflow:hidden; text-overflow:ellipsis;}
#content div table.list_state_option_parameter_property thead tr:nth-child(1) th div {
    line-height: 1.5em;
    display:block;
    white-space:nowrap;
    padding:0px;
    padding-left:3px;
    width:0px;
    min-width:15px;
    margin: 0 auto;
    
    writing-mode: tb-rl;
    filter: flipv fliph;
    transform: rotate(270deg) translate(-123px,0);
    transform-origin: 0 0;
    -moz-transform: rotate(270deg) translate(-123px,0);
    -moz-transform-origin: 0 0;
    -webkit-transform: rotate(270deg) translate(-123px,0);
    -webkit-transform-origin: 0 0;
    }
#content div table.list_state_option_parameter_property thead tr th { border-left: 1px solid #3d80b3;}
#content div table.list_state_option_parameter_property tbody tr:last-child th, #content div table.list_state_option_parameter_property tbody tr:last-child td { border-bottom: 1px solid #3d80b3;}
#content div table.list_state_option_parameter_property tbody tr td, #content div table.list_state_option_parameter_property tbody tr td { border-left: 1px solid #BDD4E6;}
#content div table.list_state_option_parameter_property tbody tr td:nth-child(1), #content div table.list_state_option_parameter_property tbody tr td:nth-child(1) { border-left: none;}
#content div table.list_state_option_parameter_property tbody tr td:nth-child(2), #content div table.list_state_option_parameter_property tbody tr td:nth-child(2) { border-left: 1px solid #3d80b3;}
#content div table.list_state_option_parameter_property tbody th {border-top:1px solid #3d80b3; background: #efefef;}
#content div table.list_state_option_parameter_property tbody tr .level1 {border-top:1px solid #BDD4E6;}
#content div table.list_state_option_parameter_property tbody tr .level1:first-child {padding-left:12px;}
#content div table.list_state_option_parameter_property tr th, #content div table.list_state_option_parameter_property tr td{padding-right: 0px; padding-left: 0px;}
#content div table.list_state_option_parameter_property tr td{text-align:center; max-width:100px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#content div table.list_state_option_parameter_property tr td:first-child{text-align:left; padding-right:3px; max-width:none; width:100%;}

/* state property */
#content div table.list_state_property_labels {width:100%;}
#content div table.list_state_property_labels thead tr th { background: #d6edff;}
#content div table.list_state_property_labels thead tr:nth-child(1) th {border-top: 1px solid #3d80b3; padding-bottom:3px;}
#content div table.list_state_property_labels thead tr:nth-child(1) th {height:123px; overflow:hidden; text-overflow:ellipsis;}
#content div table.list_state_property_labels thead tr:nth-child(1) th div {
    line-height: 1.5em;
    display:block;
    white-space:nowrap;
    padding:0px;
    padding-left:3px;
    width:15px;
    min-width:15px;
    margin: 0 auto;
    
    writing-mode: tb-rl;
    filter: flipv fliph;
    transform: rotate(270deg) translate(-123px,0);
    transform-origin: 0 0;
    -moz-transform: rotate(270deg) translate(-123px,0);
    -moz-transform-origin: 0 0;
    -webkit-transform: rotate(270deg) translate(-123px,0);
    -webkit-transform-origin: 0 0;
    }
#content div table.list_state_property_labels thead tr th { border-left: 1px solid #3d80b3;}
#content div table.list_state_property_labels tbody tr:last-child th, #content div table.list_state_property_labels tbody tr:last-child td { border-bottom: 1px solid #3d80b3;}
#content div table.list_state_property_labels tbody tr td, #content div table.list_state_property_labels tbody tr td { border-left: 1px solid #BDD4E6;}
#content div table.list_state_property_labels tbody tr td:nth-child(1), #content div table.list_state_property_labels tbody tr td:nth-child(1) { border-left: none;}
#content div table.list_state_property_labels tbody tr td:nth-child(2), #content div table.list_state_property_labels tbody tr td:nth-child(2) { border-left: 1px solid #3d80b3;}
#content div table.list_state_property_labels tbody th {border-top:1px solid #3d80b3; background: #efefef;}
#content div table.list_state_property_labels tbody tr .level1 {border-top:1px solid #BDD4E6;}
#content div table.list_state_property_labels tbody tr .level1:first-child {padding-left:12px;}
#content div table.list_state_property_labels tr th, #content div table.list_state_property_labels tr td{padding-right: 0px; padding-left: 0px;}
#content div table.list_state_property_labels tr td{text-align:center; max-width:100px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#content div table.list_state_property_labels tr td:first-child{text-align:left; padding-right:3px; max-width:none; width:100%;}

/* state property row */
#content div table.list_state_property_row_simulation_batches {width:100%;}
#content div table.list_state_property_row_simulation_batches thead tr th { background: #d6edff;}
#content div table.list_state_property_row_simulation_batches thead tr:nth-child(1) th {border-top: 1px solid #3d80b3; padding-bottom:3px;}
#content div table.list_state_property_row_simulation_batches thead tr:nth-child(1) th {height:123px; overflow:hidden; text-overflow:ellipsis;}
#content div table.list_state_property_row_simulation_batches thead tr:nth-child(1) th div {
    line-height: 1.5em;
    display:block;
    white-space:nowrap;
    padding:0px;
    padding-left:3px;
    width:0px;
    min-width:15px;
    margin: 0 auto;
    
    writing-mode: tb-rl;
    filter: flipv fliph;
    transform: rotate(270deg) translate(-123px,0);
    transform-origin: 0 0;
    -moz-transform: rotate(270deg) translate(-123px,0);
    -moz-transform-origin: 0 0;
    -webkit-transform: rotate(270deg) translate(-123px,0);
    -webkit-transform-origin: 0 0;
    }
#content div table.list_state_property_row_simulation_batches thead tr th { border-left: 1px solid #3d80b3;}
#content div table.list_state_property_row_simulation_batches tbody tr:last-child th, #content div table.list_state_property_row_simulation_batches tbody tr:last-child td { border-bottom: 1px solid #3d80b3;}
#content div table.list_state_property_row_simulation_batches tbody tr td, #content div table.list_state_property_row_simulation_batches tbody tr td { border-left: 1px solid #BDD4E6;}
#content div table.list_state_property_row_simulation_batches tbody tr td:nth-child(1), #content div table.list_state_property_row_simulation_batches tbody tr td:nth-child(1) { border-left: none;}
#content div table.list_state_property_row_simulation_batches tbody tr td:nth-child(2), #content div table.list_state_property_row_simulation_batches tbody tr td:nth-child(2) { border-left: 1px solid #3d80b3;}
#content div table.list_state_property_row_simulation_batches tbody th {border-top:1px solid #3d80b3; background: #efefef;}
#content div table.list_state_property_row_simulation_batches tbody tr .level1 {border-top:1px solid #BDD4E6;}
#content div table.list_state_property_row_simulation_batches tbody tr .level1:first-child {padding-left:12px;}
#content div table.list_state_property_row_simulation_batches tr th, #content div table.list_state_property_row_simulation_batches tr td{padding-right: 0px; padding-left: 0px;}
#content div table.list_state_property_row_simulation_batches tr td{text-align:center; max-width:100px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#content div table.list_state_property_row_simulation_batches tr td:first-child{text-align:left; padding-right:3px; max-width:none; width:100%;}

/****************
 * download 
 ****************/
#content div table.download {width:100%;}
#content div table.download {border-bottom:none;}
#content div table.download tbody tr:last-child td{border-bottom:1px solid #3d80b3;}
#content div table.download tr th, #content div table.download tr td{border-right:none;}
#content div table.download tbody tr:nth-child(even) th, 
#content div table.download tbody tr:nth-child(even) td,
#content div table.download tbody tr:nth-child(odd) th, 
#content div table.download tbody tr:nth-child(odd) td
{
    background:transparent;
}
#content div table.download tr th:last-child, #content div table.download tr td:last-child{width:100%;}
#content div table.download tfoot th{padding-top:10px; text-align:right;}

/****************
 * search 
 ****************/
#content div table.search_advanced {
    width:100%;
    margin-top:10px;
}
#content div table.search_advanced tbody tr:first-child th {
    padding-top:20px;
}
#content div table.search_advanced tbody:first-child tr:first-child th {
    padding-top:0px;
}
#content div table.search_advanced tbody tr td:first-child{
    min-width:98px;
    padding-right:10px;
}
#content div table.search_advanced tbody tr td:last-child{
    width:100%;
    padding-left:4px;
    height:18px;
    overflow:visible;
}
#content div table.search_advanced tbody tr td input[type="text"], #content div table.search_advanced tbody tr td textarea{
    width:685px;
    margin:0px;
    padding:0px;
}
#content div table.search_advanced tbody tr td input[type="text"]{
    height:12px;
}
#content div table.search_advanced tbody tr td select{
    height:16px;
    padding:0px;
}
#content div table.search_advanced tbody tr td textarea{
    height:80px;
    padding-right:2px;
}
#content div table.search_advanced tbody:last-child tr th{
    text-align:right;
}
#content div table.search_advanced tbody:last-child tr th input{
    position:relative;
    right:-2px;
}

#content div table.search_advanced table.options { width:100%;}
#content div table.search_advanced table.options td:first-child{padding-right:4px;}
#content div table.search_advanced table.options td:nth-child(1) select{width:319px;}
#content div table.search_advanced table.options td:nth-child(2) select{width:36px;}
#content div table.search_advanced table.options td:nth-child(3) input{width:319px;}

#content div table.search_advanced table.parameters { width:100%;}
#content div table.search_advanced table.parameters td:first-child{padding-right:4px;}
#content div table.search_advanced table.parameters td:nth-child(1) select{width:319px;}
#content div table.search_advanced table.parameters td:nth-child(2) select{width:36px;}
#content div table.search_advanced table.parameters td:nth-child(3) input{width:319px;}

#content div table.search_advanced table.processes { width:100%;}
#content div table.search_advanced table.processes td:first-child{padding-right:4px;}
#content div table.search_advanced table.processes td:nth-child(1) select{width:580px;}
#content div table.search_advanced table.processes td:nth-child(2) select{width:100px;}

#content div table.search_advanced table.states { width:100%;}
#content div table.search_advanced table.states td:first-child{padding-right:4px;}
#content div table.search_advanced table.states td:nth-child(1) select{width:580px;}
#content div table.search_advanced table.states td:nth-child(2) select{width:100px;}

/****************
 * plots 
 ****************/
.plot-container {width:850px; height:300px; position:relative; left:-44px;}
.plot-container .error, .plot-container .status {
    position:absolute;
    top:170px;
    padding:5px;
    border-radius:5px;
    text-align:center;
    font-weight:bold;
    }
.plot-container .status {
    color:#3d80b3;
    left:390px;
    background:rgba(61, 128, 179, 0.3);
    }
.plot-container .error {
    color:red;
    left:340px;
    background:rgba(255, 0, 0, 0.2);
    }
.legendLabel{font-size: 10px;}

.plot-container .info {text-align:right; font-size:10px;}
.plot-container .info .content {
    display: inline-block;
    padding:2px;
    margin:13px;
}
.plot-container .info .content .title {font-weight:bold;}
.plot-container .info .content .details {font-style:italic;}

/****************
 * help
 ****************/
#content #help div.section{
    margin-bottom:24px;
}
#content #help div.section h3{
    margin-bottom:2px;
    margin-top:12px;
}

#content #help ul.hdf-schema span {font-family: "Courier New", Courier, monospace; padding:0px 2px 0px 2px;}
#content #help ul.hdf-schema span.group {background: rgba(255, 0, 0, .3);}
#content #help ul.hdf-schema span.dataset {background: rgba(0, 0, 255, .3);}
#content #help ul.hdf-schema span.value {background: rgba(0, 255, 255, .3);}
#content #help ul.hdf-schema span.attrs {background: rgba(0, 255, 0, .3);}
#content #help ul.hdf-schema span.attr {background: #dedede;}

/****************
 * tutorial
 ****************/
#content #tutorial{
    position:absolute;
    margin:auto auto;
    top:66px;
    bottom:33px;
    left:0px;
    right:0px;
    width:600px;
    height:415px;
    border:2px solid #ccc;
    border-radius:12px;
    background:#DEDEDE;
    padding:10px;
    box-shadow: 10px 10px 20px #aaa;
}
#content #tutorial h1{
    padding-top:0px;
    margin-top:0px;
}

#content #tutorial h2{
    margin-bottom:0px;
    margin-left:-6px;
}

#content #tutorial ul li img{
    display:none;
    position:fixed;
    z-index:100010;
}

#content #tutorial ul li:hover{
    color:#3d80b3;
}
#content #tutorial ul li:hover a{
    color:black;
}
#content #tutorial ul li:hover img{
    display:block;
}