/*
Whole-cell knowledge base styles

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Last updated: 2012-07-17
*/

/* main */
body{
	margin:0px;
	padding:0px;
	padding-top:10px;
	padding-bottom:10px;	
}
table{
	border-collapse:separate;
	border-spacing:0px 0px;
}
body, table{
    font-size:12px;
	font-family:PT Sans,sans-serif;
}

th{
	vertical-align:top;
}

a, a:hover, a:active, a:visited, a:link{
	color:#3d80b3;
	text-decoration:none;
}

a img{
	border:none;
}

input.text{
	border:1px solid #3d80b3;
	border-radius:6px;
}
input.button{
	border:1px solid #3d80b3;
	border-radius:6px;
	background:#DDD;
}
select.select{
	border:1px solid #3d80b3;
	border-radius:6px;
}

.errors{
	font-style:italic;
	color:red;
	margin-bottom:10px;
}

.sequence div{
	float:left;	
}
.sequence div:nth-child(1){
	text-align:right;
}
.sequence div:nth-child(2){
	font-family:Courier New;
	margin-right:10px;
	margin-left:10px;
}

.tickLabel{
	font-size:9px;
	color:#222;
}
.axisLabels{
	font-size:12px;
	color:#222;
}

#tooltip {	
	position:absolute;
    padding: 5px 5px;
    font-size: 10px;
	font-weight:normal;
	width:auto;
	height:auto;
	max-width:150px;
	vertical-align:middle;
	display:none;
}
#tooltip h1{
	padding:0px;
	margin:0px;
	margin-bottom:2px;
	font-size:12px;
}

/* header */
#header {
	z-index: 2;
	position:fixed;
	left:0px;
	top:0px;
	right:0px;
	height: 65px;
	overflow: hidden;
	margin: 0px 0px 0px 0px;	
	border-top:none;
	border-right:none;
	border-left:none;
}

#header .title {
	position:relative;
	font-size: 16px;
	color: #222222;
	top:0px;
	left:70px;
	font-style:italic;
}

#header  .banner{
	position:absolute;
	top:2px;
	left:0px;
}

#header .menu{	
	position:absolute;
	top:47px;
	height:18px;
	list-style:none;
	margin:0px;
	padding:0px;
	font-weight: normal;
	left:66px;
	text-align:left;
}
#header .menu li{
	float:left;
	display:inline;
	margin:0px;
	padding-top:2px;
	padding-bottom:6px;
}
#header .menu li.spacer{
	width:1px;
	height:10px;
	background: #222;
}
#header .menu li:nth-child(odd), #header .menu li ul li{
	padding-left:4px;
	padding-right:4px;
}
#header .menu li:first-child{
	border-left:none;
}
#header .menu li:hover{
	background-color:#fff;
}
#header .menu li:hover a{
	color:#3d80b3;
}
#header .menu a{
	color: #3d80b3;
	margin:0px;
	padding:0px;
}

#header .menu li ul{
	background:#cccccc;
	list-style:none;
	position:fixed;
	top:65px;	
	visibility:hidden;
	border-bottom:1px solid #aaaaaa;
	border-left:1px solid #aaaaaa;
	border-right:1px solid #aaaaaa;
	width:auto;	
	padding:0px;
	margin:0px;
	margin-left:-5px;
}
#header .menu li:hover ul{
	visibility:visible;
}
#header .menu li ul li{
	padding-bottom:2px;	
}
#header .menu li:hover ul li{
	float:none;
	padding-top:1px;	
	display:list-item;
	text-align:left;
}
#header .menu li:hover ul li:hover{
	background:#fff;
}
#header .menu li:hover ul li a{
	white-space:nowrap;
	color:#3d80b3;
}
#header .menu li:hover ul li:hover a{
	color:#3d80b3;
}

#header .search{
	position:absolute;
	top:20px;
	right:4px;	
}
#header .search table tr td{
	padding:0px;
	margin:0px;
	text-align:center;	
}
#header .search img{
	position:relative;
	top:3px;
	padding-left:2px;
}
#header .search input.text{
	width:140px;
	padding-left:4px;
	padding-right:4px;
}
#header .search input.text-default{	
	font-style:italic;
	color:#aaa;
}

#header .search table tr td.engine span{
	position:relative;
	top:-2px;	
	left:-2px;
	color:#222;
	padding:0px;
	margin:0px;
}

/* footer */ 
#footer {
	z-index: 3;
	position:fixed;
	left:0px;
	bottom:0px;
	right:0px;
	height: 24px;
	overflow: hidden;
	margin: 0px 0px 0px 0px;	
	padding-top:4px;
	padding-bottom:4px;
	border-bottom:none;
	border-right:none;
	border-left:none;
	text-align:center;
	font-size:10px;
}

#footer, #footer a{
	color:#222;
}
#footer .left{
	position:absolute;
	top:8px;
	left:8px;
	width:200px;
	text-align:left;
}
#footer .center{
	margin:0 auto;
	width:600px;
	position:relative;
	top:-1px;
}
#footer .right{
	position:absolute;
	top:8px;
	right:8px;
	width:200px;
	text-align:right;
}

/* content */
#main{
	margin:0 auto;
	margin-top:80px;
	margin-bottom:40px;
	width:800px;
	padding:0px;
	height:100%;
}

#content{
	width:100%;
}
#content div h1{
	color: #3d80b3;
	margin-bottom:6px;
	margin-top:26px;
	line-height:100%;
}
#content div h1 a{
	color: #3d80b3;
}
#content div p{
	margin-bottom:6px;
	margin-top:0px;
	padding:0px;
}
#content div ul{
	margin:0px;	    
	padding-left:16px;
}
#content div ul.inparagraph{
    margin-top:-6px;
    margin-bottom:6px;
}
#content div ul li p{
    margin:0px;
    margin-left:-6px;    
}

#content div table {
    width:100%;
}
#content div table thead tr th, #content div table tbody tr th{
    text-align: left;
    padding-right: 10px;
}
#content div table tbody tr td{
    text-align: right;
}
#content div table thead tr th {    
    border-bottom: 1px solid #3d80b3;
    background: #d6edff;
}
#content div table {
    border-top: 1px solid #3d80b3;
    border-bottom: 1px solid #3d80b3;
}
#content div table tbody tr:nth-child(even) th, #content div table tbody tr:nth-child(even) td{
	background:#e3e3e3;
}
#content div table tbody tr:nth-child(odd) th, #content div table tbody tr:nth-child(odd) td{
	background:#efefef;
}
