{% extends "base.html" %}

{% comment %}
List simulation batches page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2013-09-16
{% endcomment %}

{% load static %}

{% block head_title %}{{ block.super }} :: Organism :: {{ organism.name }}{% endblock %}

{% block content %}


<div>
<h1>Organism :: {{ organism.name }}</h1>

<h2>Versions</h2>
<table class="table list_organism_versions" class="inparagraph">
    <thead>
        <tr>
            <th>Version</th>
            <th>No. Batches</th>
        </tr>
    </thead>
    <tbody>
        {% for version in organism.versions.all %}
        <tr>
            <td><a href="{% url "wcdb.views.organism_version" id=version.id %}">{{ version.organism }} {{ version }}</a></td>
            <td>{{ version.batch_set.all|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
