{% extends "base.html" %}

{% comment %}
Permission denied error template

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2014-03-24
{% endcomment %}

{% block content %}
<div>
<h1>Permission denied!</h1>

<p>Please <a href="{% url wcdbweb.views.login %}">login</a> to access this page.</p>

<p>If you continue to see this error message please contact us at <a href="mailto:wholecell[at]lists.stanford.edu">wholecell@lists.stanford.edu</a>.</p>

</div>
{% endblock %}