{% extends "base.html" %}

{% comment %}
About page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2013-09-13
{% endcomment %}

{% load static %}

{% block head_title %}{{ block.super }} :: About{% endblock %}
{% block page_title %}{% endblock %}

{% block content %}
<div>
<a name="contact"></a>
<h1>Contact us</h1>
<p>Please contact the development team at <a href="wholecelldb@lists.stanford.edu">wholecelldb@lists.stanford.edu</a>.</p>
</div>

<div>
<a name="team"></a>
<h1>Development Team</h1>
<p>WholeCellDB was developed by researchers at the University of Prince Edward Island and Stanford University:</p>
<ul class="inparagraph">
<li><p><a href="http://ca.linkedin.com/pub/nolan-phillips/68/935/702">Nolan Phillips</a>, University of Prince Edward Island</p></li>
<li><p><a href="http://www.stanford.edu/~jkarr">Jonathan Karr</a>, Stanford University</p></li>
<li><p><a href="http://covertlab.stanford.edu">Markus Covert</a>, Stanford University</p></li>
<li><p><a href="http://www.csit.upei.ca/~ywang/">Yingwei Wang</a>, University of Prince Edward Island</p></li>
</ul>
</div>

<div>
<a name="license"></a>
<h1>The MIT License (MIT)</h1>
<p>Copyright &copy; 2013 Nolan Philips, Jonathan Karr, Markus Covert, Yingwei Wang</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
</div>
{% endblock %}