{% comment %}
Base template

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2013-09-13
{% endcomment %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% load static %}
<head>
	{% block head %}
	<!-- meta data -->
	<title>{% block head_title %}WholeCellDB{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta http-equiv="Cache-Control" content="NO-CACHE" />
	<meta http-equiv="Pragma" content="NO-CACHE" />
	<meta name="description" content="Database of whole-cell model predictions." />
	<meta name="keywords" content="cell, systems, biology, computational, database, modeling" />
	<meta name="author" content="Jonathan Karr, Nolan Phillips, Markus Covert, and Yingwei Wang" />
	<meta name="revised" content="2014" />
	<meta name="copyright" content="&copy; 2008-2014 Jonathan Karr, Nolan Phillips, Markus Covert, and Yingwei Wang" />
	<meta name="google-site-verification" content="Vdho9XJAyUBzyApnbEsjy8m6CsLjNEI12c8wqVVpsS8" />
	
	<!-- style -->
	<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/jquery-ui-1.8.23.custom.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/jqtree.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/PTSans.min.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/styles.css" />	
	<link rel="stylesheet" type="text/css" media="print" href="{% get_static_prefix %}css/styles.print.css" />
	
	<!-- favicon -->
	<link rel="icon" type="image/png" href="{% get_static_prefix %}favicon.ico">
	
	<!-- javascript -->
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}js/jquery-1.8.0.min.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.23.custom.min.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}js/tree.jquery.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}js/flot/jquery.flot.min.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}js/flot/jquery.flot.axislabels.min.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}js/flot/jquery.flot.pie.min.js"></script>
	<!-[if lte IE 8]>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}js/flot/excanvas.min.js"></script>
	<![endif]->
	
	<!-- google analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-44127714-1', 'stanford.edu');
		ga('send', 'pageview');
	</script>
	{% endblock %}
</head>
<body>
	<!-- header -->
	<div id="header" class="ui-widget-header">
		<div class="title">&nbsp;</div>
		<div class="banner"><a href="{% url wcdbweb.views.index %}"><img src="{% get_static_prefix %}img/banner.png" /></a></div>
		<div class="search">
			<form name="search" action="{% url wcdbweb.views.search_basic %}" method="get">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td><input id="searchq" name="q" type="text" class="text text-default" value="Enter search term(s)" onclick="
                    if ($(this).hasClass('text-default')) {
                        this.value = '';
                    }
                    $(this).removeClass('text-default');
                    $(this).removeClass('highlight');
                    "/></td>
					<td><a href="javascript:document.search.submit()"><img src="{% get_static_prefix %}img/magnifier.png" /></a></td>
				</tr>
                <tr>
					<td class="engine">
                        <input type="radio" name="engine" value="haystack" {% if not engine or engine == 'haystack' %} checked="true" {% endif %}/><span>WholeCellDB</span>
						<input type="radio" name="engine" value="google" {% if engine == 'google' %} checked="true" {% endif %}/><span>Google</span>
					</td>
                    <td></td>
                </tr>
				</table>
			</form>
        </div>
		
		<ul class="menu">
			<li><a href="{% url wcdbweb.views.index %}">Home</a></li>
            <li class="spacer"/>
            <li><a href="#">Browse</a>
                <ul>
                <li><a href="{% url wcdbweb.views.list_organisms %}">Organisms</a></li>
                <li><a href="{% url wcdbweb.views.list_simulation_batches %}">Simulation batches</a></li>
                <li><a href="{% url wcdbweb.views.list_simulations %}">Simulations</a></li>
                <li><a href="{% url wcdbweb.views.list_investigators %}">Investigators</a></li>
                </ul></li>
            <li class="spacer"/>
            <li><a href="#">Search</a>
                <ul>
                <li><a href="javascript: $('#searchq').addClass('highlight');">Basic</a></li>
                <li><a href="{% url wcdbweb.views.search_advanced %}">Advanced</a></li>
                </ul></li>
            <li class="spacer"/>
            <li><a href="#">Download</a>
                <ul>
                <li>Data</li>
                <li><a href="http://github.com/CovertLab/WholeCellDB">Source code</a></li>
                </ul></li>
			<li class="spacer"/>
			<li><a href="#">Help</a>
				<ul>
				<li><a href="{% url wcdbweb.views.tutorial %}">Tutorial</a></li>
                <li><a href="{% url wcdbweb.views.help %}">Help</a></li>
				<li><a href="{% url wcdbweb.views.about %}">About</a></li>
				<li><a href="{% url wcdbweb.views.about %}#contact">Contact</a></li>
				</ul></li>
		</ul>
	</div>
		
	<div id="main">
		<!-- content -->
		<div id="content">
		{% block content %}{% endblock %}		
		</div>
	</div>
		
	<!-- footer -->
	<div id="footer" class="ui-widget-header">
		<div class="left">
		</div>
		
		<div class="center">			
			Last updated {{ last_updated_date }}. Contact <a href="mailto:wholecelldb@lists.stanford.edu">wholecelldb@lists.stanford.edu</a>.<br/> 
			&copy; 2008-2014 Jonathan Karr, Nolan Phillips, Markus Covert, and Yingwei Wang.		
		</div>
		
		<div class="right">
			{% block action_icons %}			
			<a href="javascript:window.print()"><img src="{% get_static_prefix %}img/printer.png" alt="Print" title="Print"/></a>
			{% endblock %}
		</div>
	</div>
</body>
</html>