{% extends "base.html" %}

{% comment %}
List simulation page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2014-03-06
{% endcomment %}

{% load static %}
{% load template_extras %}

{% block head_title %}{{ block.super }} &rsaquo; Simulation &rsaquo; {{ batch.organism.name }} &ndash; {{ batch.name }} &ndash; {{ simulation.batch_index }}{% endblock %}

{% block content %}
<script type="text/javascript" language="javascript">
    function toggleAll(checked){
        var checkboxes = $('input[type="checkbox"]');
        checkboxes.prop('checked', checked);
    }
    
    function toggleOrganism(checked, organism){
        var allCheckBox = $('input.all');
        var organismCheckBox = $('input.batch-organism-' + organism);
        allCheckBox.prop('checked', allCheckBox.prop('checked') && checked);
        organismCheckBox.prop('checked', checked);
    }
    
    function toggleBatch(checked, organism) {
        var allCheckBox = $('input.all');
        var organismCheckBox = $('input.organism-'+organism);
        allCheckBox.prop('checked', allCheckBox.prop('checked') && checked);
        organismCheckBox.prop('checked', organismCheckBox.prop('checked') && checked);     
    }    
</script>

<div>
    <h1>Download data</h1>    
    {% if form.simulation_batches.errors|length > 0 and request.method == 'POST' %}
    <p class="error">{{ form.simulation_batches.errors.0 }}</p>
    {% endif %}
    
    <form id="form" name="download" action="{% url wcdbweb.views.download %}" method="post">
    {% csrf_token %}
        <table class="table download">
            <thead>
                <tr><th><input class="all" type="checkbox" onchange="javascript:toggleAll(this.checked);" /></th><th>All</th></tr>
            </thead>
        {% regroup batches by organism__id as organisms %}
        {% for organism in organisms %}
            <tbody class="organism">
                <tr><th><input class="organism-{{ organism.grouper }}" type="checkbox" onchange="javascript:toggleOrganism(this.checked, {{ organism.grouper }});" /></th><th><a href="{% url wcdbweb.views.organism id=organism.grouper %}">{{ organism.list.0.organism__name }}</a></th></tr>
            {% for batch in organism.list %}            
                <tr>
                    <td><input class="batch-organism-{{ organism.grouper }}" type="checkbox" id="{{ form.simulation_batches.html_name }}" name="{{ form.simulation_batches.html_name }}" value="{{ batch.id }}" onchange="javascript:toggleBatch(this.checked, {{ organism.id }})" /></td>
                    <td><a href="{% url wcdbweb.views.simulation_batch id=batch.id %}">{{ batch.name }}</a> ({{ batch.n_simulations }})</td>
                </tr>
            {% endfor %}
            </tbody>
        {% endfor %}
            <tfoot>
                <tr><th colspan="2"><input class="button" type="submit" value="Download" /></th></tr>
            </tfoot>
        </table>	
    </form>
</div>
{% endblock %}