{% extends "base.html" %}

{% comment %}
Index page template

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2013-09-13
{% endcomment %}

{% block content %}
<div>
<h1>Welcome to WholeCellDB!</h1>
<p>WholeCellDB is a database of whole-cell model simulations designed to make it easy for researchers to explore and analyze whole-cell model predictions including predicted:</p>
<ul class="inparagraph">
<li><p>Metabolite concentrations,</p></li>
<li><p>DNA, RNA and protein expression,</p></li>
<li><p>DNA-bound protein positions,</p></li>
<li><p>DNA modification positions, and</p></li>
<li><p>Ribome positions.</p></li>
</ul>

<p>WholeCellDB provides a simple graphical interface to search and browse simulations, including all of the metadata needed to reproduce simulations. WholeCellDB also provides three plotting applets to enable researchers to preview simulations. Reseachers can download entire simulations and groups of simulations from WholeCellKB in <a href="http://www.hdfgroup.org/HDF5/">HDF5</a> format. In addition, researchers can obtain the simulation metadata needed to reproduce simulations in <a href="http://sed-ml.org/">SED-ML</a> format.</p>

<p>WholeCellDB currently contains data from a single whole-cell model of the Gram-positive bacterium and human pathogen <i>Mycoplasma genitalium</i>.</p>
</div>

<div>
<h1>Content</h1>
<table class="table summary">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><a href="{% url wcdbweb.views.list_organisms %}">Organisms</a></th>
            <td><a href="{% url wcdbweb.views.list_organisms %}">{{ summary.n_in_silico_organism }}</a></td>
        </tr>
        <tr>
            <th><a href="{% url wcdbweb.views.list_simulation_batches %}">Simulation batches</a></th>
            <td><a href="{% url wcdbweb.views.list_simulation_batches %}">{{ summary.n_simulation_batch }}</a></td>
        </tr>
        <tr>
            <th><a href="{% url wcdbweb.views.list_simulations %}">Simulations</a></th>
            <td><a href="{% url wcdbweb.views.list_simulations %}">{{ summary.n_simulation }}</a></td>
        </tr>        
        <tr>
            <th><a href="{% url wcdbweb.views.list_states %}">States</a></th>
            <td><a href="{% url wcdbweb.views.list_states %}">{{ summary.n_state}}</a></td>
        </tr>
        <tr>
            <th><a href="{% url wcdbweb.views.list_states %}">Properties</a></th>
            <td><a href="{% url wcdbweb.views.list_states %}">{{ summary.n_property }}</a></td>
        </tr>
        <tr>
            <th><a href="{% url wcdbweb.views.list_processes %}">Processes</a></th>
            <td><a href="{% url wcdbweb.views.list_processes %}">{{ summary.n_process }}</a></td>
        </tr>
        <tr>
            <th><a href="{% url wcdbweb.views.list_parameters %}">Parameters</a></th>
            <td><a href="{% url wcdbweb.views.list_parameters %}">{{ summary.n_parameter }}</a></td>
        </tr>
        <tr>
            <th><a href="{% url wcdbweb.views.list_options %}">Options</a></th>
            <td><a href="{% url wcdbweb.views.list_options %}">{{ summary.n_option }}</a></td>
        </tr>
        <tr>
            <th><a href="{% url wcdbweb.views.list_investigators %}">Investigators</a></th>
            <td><a href="{% url wcdbweb.views.list_investigators %}">{{ summary.n_investigator }}</a></td>
        </tr>
    </tbody>
</table>
</div>

<div>
<h1>Getting started?</h1>
<p>Please use the "Browse" and "Search" menus at the top-left to browse and search simulations. In addition, please use the plotting tool below to preview simulations.</p>

<p>Please view the <a href="{% url wcdbweb.views.tutorial %}">tutorial</a> and <a href="{% url wcdbweb.views.help %}">help</a> pages for further help, or contact us at <a href="mailto:wholecell[at]lists.stanford.edu">wholecell@lists.stanford.edu</a>.</p>
</div>

<div>
<h1>Preview simulations</h1>

<h2>1. Select simulations and predicted phenotypes</h2>
<div class="data-series">
    <div class="twocolumns">
        <div class="left">
            <div class="data-series-table"></div>
        </div>
        <div class="right">
            <div class="data-series-list"></div>
            <div class="data-series-plot">
                <input type="submit" value="Remove" onclick="javascript: removeDataSeries();"/>
                <input type="submit" value="Plot" onclick="javascript: loadDataSeries();"/>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>    
</div>

<script language="javascript" type="text/javascript">
$(".data-series-table").jqxTreeGrid({
    width: '100%',
    height: 200,
    columnsHeight: 18,
    altRows: true,
    virtualModeCreateRecords: function(expandedRecord, done)
    {
        var params = {
            organism: expandedRecord && expandedRecord['organism'] ? expandedRecord.organism : null,
            simulation_batch: expandedRecord && expandedRecord['simulation_batch'] ? expandedRecord.simulation_batch : null,
            simulation: expandedRecord && expandedRecord['simulation'] ? expandedRecord.simulation : null,
            state: expandedRecord && expandedRecord['state'] ? expandedRecord.state : null,
            property: expandedRecord && expandedRecord['property'] ? expandedRecord.property : null,
            row: expandedRecord && expandedRecord['row'] ? expandedRecord.row : null,
            col: expandedRecord && expandedRecord['col'] ? expandedRecord.col : null,
            };
        
        var update = function (childRecords) {
            var source =
            {
                dataType: "array",
                dataFields: [
                    { name: "id", type: "string" },
                    { name: "parentid", type: "string" },                    
                    { name: "organism", type: "int" },
                    { name: "simulation_batch", type: "int" },
                    { name: "simulation", type: "int" },
                    { name: "state", type: "int" },
                    { name: "property", type: "int" },
                    { name: "row", type: "int" },
                    { name: "col", type: "int" },                    
                    { name: "isleaf", type: "bool" },                    
                    { name: "label", type: "string" },
                    { name: "units", type: "string" },
                    { name: "data_valid", type: "bool" },
                ],
                localData: childRecords,
                id: 'id'
            }
            var dataAdapter = new $.jqx.dataAdapter(source, {
                loadComplete: function () {
                    done(dataAdapter.records);
                }
            });
            dataAdapter.dataBind();
        };
        
        $.ajax({
            method: 'get',
            url: '{% url wcdbweb.views.list_data_series %}',
            data: params,
           }).done(update)
            .fail(function() {done(false); });           
    },
    virtualModeRecordCreating: function(record)
    {
        record.leaf = record.isleaf;
    },
    columns: [
      {text: 'State/property', dataField: 'label', width: 400},
      {text: 'Units', dataField: 'units'},
    ],
    checkboxes: function (rowKey, dataRow) {
        return dataRow && dataRow.isleaf && dataRow.data_valid;
    }
});

$('.data-series-table').on('rowCheck', function (event) {
    var args = event.args;
    
    var row = args.row;
    var key = args.key;
    
    var label = '';
    var node = row;
    for (var i = 0; i <= row.level; i++){        
        label = node['label'] + '-' + label;
        if  (node['parent']) {
            node = node.parent;
        }
    }    
    label = label.substr(0, label.length-1);
    
    var list = $(".data-series-list");
    list.jqxListBox('addItem', {'label': label, value: key});
});

$('.data-series-table').on('rowUncheck', function (event) {
    var args = event.args;    
    var key = args.key;
    
    var list = $(".data-series-list");
    list.jqxListBox('removeItem', key);
});

$(".data-series-list").jqxListBox({
    width: '100%',
    height: 200,
    })
</script>

<h2>2. Visualize selected phenotypes</h2>
<div class="plot-container"></div>
<script language="javascript" type="text/javascript">
var options = {
    series: {
        lines: { show: true },
        points: { show: false },
    },
    xaxis: {
        show: true,
        position: 'bottom',
        font: {size: 8, lineHeight: 10, family: 'PT Sans,sans-serif', style: 'normal', weight: 'normal', variant: 'normal', color: '#000000'},
        min: 0,
        max: {{x_axis.max}} / 3600,
        axisLabel: 'Time (h)',
        axisLabelColour: '#000000',
        axisLabelFontFamily: 'PT Sans,sans-serif',
        axisLabelFontSizePixels: 12,
        axisLabelUseCanvas: true,
        labelHeight: 20,
        color: '#efefef',
    },
    yaxis: { 
        show: true,
        position: 'left',
        font: {size: 8, lineHeight: 10, family: 'PT Sans,sans-serif', style: 'normal', weight: 'normal', variant: 'normal', color: '#000000'},
        axisLabel: '{{y_axis.title|capfirst}}',
        axisLabelColour: '#000000',
        axisLabelFontFamily: 'PT Sans,sans-serif',
        axisLabelFontSizePixels: 12,
        axisLabelUseCanvas: true,        
        labelWidth: 25,
        color: '#efefef',
    },
    tooltip: true,
    tooltipOpts: {
        content: function (series, x, y) {return series + ' | Time: ' + x.toFixed(2) + ' h | {{y_axis.label|capfirst}}: ' + y + '{% if y_axis.units != None %} {{y_axis.units}}{% endif %}';}
    },
    grid: {
        hoverable: true,
        borderWidth: 1,
        borderColor: 'c7c7c7',
    },
    legend: {
        show: true,
        sorted: false,
        position: 'nw',
        labelFormatter: function(label, series) {return label;},
    },
    zoom: {
        interactive: true
    },
    pan: {
        interactive: true
    },
};
var plotContainer = $(".plot-container");
var plot = $.plot(plotContainer, [], options);

$("<div class='status'>Loading data ...</div>")
    .appendTo(plotContainer)
    .hide();

$("<div class='error'>Error loading data. Please try again.</div>")
    .appendTo(plotContainer)
    .hide();
    
$(
    "<div class='info'>" +
        "<span class='content'>"+
            "<span class='title'>Info</span><br/>" +
            "<span class='details'>Downsampling: </span>" +
        "</span>" + 
   "</div>"
    ).appendTo(plotContainer);

var setData = function(data) {
    plotContainer.find('.status').fadeOut(1000);
    
    if (data.length > 0) {
        var downsample_step = data[0].attrs.downsample_step;
    } else {
        var downsample_step = '';
    }
    
    var series = [];
    var xaxisMax = 0;
    for (var i = 0; i < data.length; i++) {
        xaxisMax = Math.max(xaxisMax, data[i].data.length);
        
        timePoints = [];
        for (j = 0; j < data[i].data.length; j++) {
            timePoints.push([(j * downsample_step + 1)/ 3600, data[i].data[j]]);
        }
        
        var attrs = data[i].attrs;
        series.push({
            data: timePoints,
            label: attrs.organism + '-' +   
                attrs.simulation_batch + '-' +
                attrs.simulation_batch_index + '-' +
                attrs.state + '-' + 
                attrs.property + 
                (attrs.row ? '-' + attrs.row : '') + 
                (attrs.col ? '-' + attrs.col : '')
            });
    }
    plot.setData(series);
    plot.getOptions().xaxes[0].max = xaxisMax/3600;
    plot.setupGrid();
    plot.draw();
    
    plotContainer.find('.info > .content > .details').html('Downsampling: ' + downsample_step + ' s');
    plotContainer.find('.info > .content')
        .css('backgroundColor', 'rgba(255, 0, 0, 0.5)')    
        .animate({
            backgroundColor: jQuery.Color('#FF0000').transition('transparent', 1)
            }, 2500 );
}

var alertFailure = function () {
    plotContainer.find('.status').fadeOut(1000);
    plotContainer.find('.error').fadeIn(1000);
}

function removeDataSeries () {
    var list = $(".data-series-list");
    var item = list.jqxListBox('getSelectedItem');
    
    if (item) {
        var table = $(".data-series-table");
        table.jqxTreeGrid('uncheckRow', item.value);
        
        list.jqxListBox('removeItem', item);
    }
}

function loadDataSeries() {
    plotContainer.find('.error').hide();    
    plotContainer.find('.status').fadeIn(1000);
    
    var selected_property_ids = getSelectedDataSeries();
    if (!selected_property_ids) {
        return;
    }
        
    $.ajax({
        url: '{% url wcdbweb.views.get_data_series %}',
        type: 'POST',
        data: {
            'format': 'json',
            'data_series': JSON.stringify(selected_property_ids)
            },
        }).done(setData)
        .fail(alertFailure);
}

function getSelectedDataSeries() {
 var table = $('.data-series-table');
    var selected_properties = table.find('.jqx-checkbox-check-checked');
    
    if (selected_properties.length > 10) {
        form.find('.error').html('Plotting is limited to at most 10 data series. Please unselect at least ' + (selected_properties.length - 10) + ' data series.');
        
        $('html, body').animate({
            scrollTop: form.find('.error').offset().top
        }, 2000);
        
        return;
    }
    
    
    var selected_property_ids = [];
    for (var i = 0; i < selected_properties.length; i++) {
    
        var row = $(selected_properties[i]).parents('[role="row"]');
        var rowDataKey = row.attr('data-key');
        var rowId = row.attr('id');
        
        var tmp = rowDataKey.split('.');
        selected_property_ids.push({
            organism: parseInt(tmp[0]),
            simulation_batch: parseInt(tmp[1]),
            simulation: parseInt(tmp[2]),
            state: parseInt(tmp[3]),
            property: parseInt(tmp[4]),
            row: tmp.length >= 6 ? tmp[5] : '',
            col: tmp.length >= 7 ? tmp[6] : '',
            });
    }
    
    return selected_property_ids;
}
</script>

<script language="javascript" type="text/javascript">
function setupInitialPlots() {
    plotContainer.find('.error').hide();    
    plotContainer.find('.status').fadeIn(1000);
    
    var selected_property_ids = [
        {% for data_series in default_data_series %}
        {
            organism: {{data_series.organism.id}},
            simulation_batch: {{data_series.simulation_batch.id}},
            simulation: {{data_series.simulation.id}},
            state: {{data_series.state.id}},
            property: {{data_series.property.id}},
            row: {% if data_series.row %}{{data_series.row.id}}{% else %}''{% endif %},
            col: {% if data_series.col %}{{data_series.col.id}}{% else %}''{% endif %},
            },
        {% endfor %}
    ];
    
    $.ajax({
        url: '{% url wcdbweb.views.get_data_series %}',
        type: 'POST',
        data: {
            'format': 'json',
            'data_series': JSON.stringify(selected_property_ids)
            },
        }).done(setData)
        .fail(alertFailure);
}

setupInitialPlots();
</script>
</div>


<div>
<h1>Citing WholeCellDB</h1>	
<p>Please see the following for more information or to cite WholeCellDB:
<ul class="inparagraph">
<li>Karr JR et al. WholeCellDB: hybrid HDF/SQL database for whole-cell model predictions. (In preparation).</li>
<li>Karr JR, Sanghvi JC, Macklin DN, Gutschow MV, Jacobs JM, Bolival B, Assad-Garcia N, Glass JI, Covert MW. A Whole-Cell Computational Model Predicts Phenotype from Genotype. <i>Cell</i> <b>150</b>, 389-401 (2012). <a href="http://www.cell.com/abstract/S0092-8674(12)00776-3">Cell</a> | <a href="http://www.ncbi.nlm.nih.gov/pubmed/22817898">PubMed</a></li>
</ul>
</p>
</div>

<div style="margin-bottom:50px;">
<h1>Need help?</h1>
<p>Please contact us at <a href="mailto:wholecell[at]lists.stanford.edu">wholecell@lists.stanford.edu</a>.</p>
</div>
{% endblock %}