{% extends "base.html" %}

{% comment %}
List simulation batches page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2013-09-13
{% endcomment %}

{% load static %}

{% block head_title %}{{ block.super }} :: Simulation batches{% endblock %}

{% block content %}

<div>
<h1>Simulation batches</h1>
<table class="table list_batches">
    <thead>
        <tr>
            <th colspan="2">Organism</th>
            <th colspan="4">Simulation batch</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Name</th>
            <th>No. simulations</th>
            <th>Investigator</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for batch in batches %}
        <tr>
            <td><a href="{% url wcdbweb.views.organism id=batch.organism.id %}">{{ batch.organism.name }}</a></td>
            <td>{{ batch.organism_version }}</td>
            <td><a href="{% url wcdbweb.views.simulation_batch id=batch.id %}">{{ batch.name }}</a></td>
            <td>{{ batch.simulations.all|length }}</td>
            <td><a href="{% url wcdbweb.views.investigator id=batch.investigator.id %}">{{ batch.investigator.user.get_full_name }}</a></td>
            <td>{{ batch.date|date:"M j, Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}