{% extends "base.html" %}

{% comment %}
List simulation batches page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2013-09-13
{% endcomment %}

{% load static %}

{% block head_title %}{{ block.super }} :: Organisms{% endblock %}

{% block content %}

<div>
<h1>Organisms</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Versions</th>
            <th>Investigators</th>
            <th>Batches</th>
            <th>Simulations</th>
        </tr>
    </thead>
    <tbody>
        {% for organism in organisms %}
        <tr>
            <td><a href="{% url wcdbweb.views.organism id=organism.id %}">{{ organism.name }}</a></td>
            <td>{{ organism.n_version }}</td>
            <td>{{ organism.n_investigator }}</td>
            <td>{{ organism.n_simulation_batch }}</td>
            <td>{{ organism.n_simulation }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}