{% extends "base.html" %}

{% comment %}
List simulation batches page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2013-09-13
{% endcomment %}

{% load static %}

{% block head_title %}{{ block.super }} :: Organisms{% endblock %}

{% block content %}

<div>
<h1>Organisms</h1>
<table class="table list_organisms">
    <thead>
        <tr>
            <th colspan="3">Metadata</th>
            <th colspan="3">Simulations</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>No. versions</th>
            <th>No. investigators</th>
            <th>No. batches</th>
            <th>No. simulations</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {% for organism in organisms %}
        <tr>
            <td><a href="{% url wcdbweb.views.organism id=organism.id %}">{{ organism.name }}</a></td>
            <td>{{ organism.n_version }}</td>
            <td>{{ organism.n_investigator }}</td>
            <td>{{ organism.n_simulation_batch }}</td>
            <td>{{ organism.n_simulation }}</td>
            <td><a href="{% url wcdbweb.views.organism_download id=organism.id %}">HDF5</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}

{% block action_icons %}
<a href="{% url wcdbweb.views.download %}"><img src="{% get_static_prefix %}img/hdf.png" alt="HDF5" title="HDF5"/></a>
{{ block.super }}
{% endblock %}