{% extends "base.html" %}

{% comment %}
List processes page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2014-03-10
{% endcomment %}

{% load static %}
{% load template_extras %}

{% block head_title %}{{ block.super }} &rsaquo; Processes{% endblock %}

{% block content %}

<div>
<h1>Processes</h1>

<table class="list_processes">
    <thead>
        <tr>
            <td></td>
            {% for id, organism in organisms.iteritems %}
            <th><div><i><a href="{% url wcdbweb.views.organism id=id %}">{{organism.name}}</i></a></div></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% regroup processes by name as processes_grouped %}
        {% for process in processes_grouped %}
        <tr>
            <td><a href="{% url wcdbweb.views.process process_name=process.grouper %}">{{process.grouper}}</a></td>
            {% regroup_by process.list by 'simulation_batch__organism__id' organism_ids as process_organisms %}
            {% for process_organism in process_organisms %}    
            <td>{% if process_organism.list|length > 0 %}{% if process_organism.list.0.n_batches == organisms|get_organisms_n_batches:process_organism.grouper %}&#10003;{% else %}&#9632;{% endif %}{% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>        

</div>

{% endblock %}