{% extends "base.html" %}

{% comment %}
List states page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2014-03-10
{% endcomment %}

{% load static %}
{% load template_extras %}

{% block head_title %}{{ block.super }} &rsaquo; States{% endblock %}

{% block content %}

<div>
<h1>States</h1>

<table class="list_states">
    <thead>
        <tr>
            <td></td>
			<th class="previewable"><div>Preview-able</div></th>
            {% for id, organism in organisms.iteritems %}
            <th><div><i><a href="{% url wcdbweb.views.organism id=id %}">{{organism.name}}</i></a></div></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% regroup state_properties by state__name as states %}
        {% for state in states %}
        <tr>
            <th colspan="{{organisms|length|add:2}}"><a href="{% url wcdbweb.views.state state_name=state.grouper %}">{{state.grouper}}</a></th>
        </tr>
            {% regroup state.list by name as properties %}
            {% for property in properties %}
        <tr>
            <td class="level1"><a href="{% url wcdbweb.views.state_property state_name=state.grouper property_name=property.grouper %}">{{property.grouper}}</a></td>
			<td class="level1 previewable">
			{% if property.list.0|is_property_viewable %}
			&#10003;
			{% endif %}
			</td>
            {% regroup_by property.list by 'state__simulation_batch__organism__id' organism_ids as property_organisms %}
            {% for property_organism in property_organisms %}
            <td class="level1 organisms">{% if property_organism.list|length > 0 %}{% if property_organism.list.0.n_batches == organisms|get_organisms_n_batches:property_organism.grouper %}&#10003;{% else %}&#9632;{% endif %}{% endif %}</td>
            {% endfor %}
        </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>        

</div>

{% endblock %}