{% extends "base.html" %}

{% comment %}
Login success page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2014-03-25
{% endcomment %}

{% block content %}
<div>
<h1>Login successful!</h1>

<p>Enjoy WholeCellDB! You can now access advanced features including:
<ul class="inparagraph">
<li>Downloading states, state properties, and state property rows across all simulations</li>
<li>Dowloading all data for an organism</li>
</ul>
</p>

</div>
{% endblock %}