{% extends "base.html" %}

{% comment %}
Option page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2014-03-10
{% endcomment %}

{% load static %}
{% load template_extras %}

{% block head_title %}
{{ block.super }}
 :: Option
{% if not process_name == None %} :: {{process_name}}{% endif %}
{% if not state_name == None %} :: {{state_name}}{% endif %}
 :: {{option_name}}
 {% endblock %}

{% block content %}

<div>
<h1>Option
{% if not process_name == None %} :: <a href="{% url wcdbweb.views.process process_name=process_name %}">{{process_name}}</a>{% endif %}
{% if not state_name == None %} :: <a href="{% url wcdbweb.views.state state_name=state_name %}">{{state_name}}</a>{% endif %}
 :: {{option_name}}</h1>

<table class="option">
    <thead>
        <tr>
            <th>Organism/simulation batch</th>
            <th>Value</th>
            <th>Units</th>
        </tr>
    </thead>
    <tbody>
        {% regroup options by simulation_batch__organism__name as organisms %}        
        {% for organism in organisms %}
        <tr>
            <th><a href="{% url wcdbweb.views.organism id=organism.list.0.simulation_batch__organism__id %}">{{organism.grouper}}</a></th>
            <th></th>
            <th></th>
        </tr>
        {% regroup organism.list by simulation_batch__name as batches %}
            {% for batch in batches %}
        
        <tr>
            <td class="level1"><a href="{% url wcdbweb.views.simulation_batch id=batch.list.0.simulation_batch__id %}">{{batch.grouper}}</a></td>
            <td>{% if batch.list|length > 1 %}[{% for val in batch.list %}{{val.value}}{% if not forloop.last %}, {% endif %}{% endfor %}]{% else %}{{batch.list.0.value}}{% endif %}</td>
            <td>{{batch.list.0.units|default_if_none:""}}</td>
        </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table> 

</div>

{% endblock %}