{% extends "base.html" %}

{% comment %}
List simulation batches page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2013-09-16
{% endcomment %}

{% load static %}

{% block head_title %}{{ block.super }} &rsaquo; Organism &rsaquo; {{ organism.name }}{% endblock %}

{% block content %}

<div>
<h1><a href="{% url wcdbweb.views.list_organisms %}">Organism</a> &rsaquo; {{ organism.name }}</h1>

<h2>Simulation batches</h2>
<table class="table list_organism__simulation_batches inparagraph">
    <thead>
        <tr>
            <th colspan="1"></th>
            <th colspan="5">Simulation batch</th>
        </tr>
        <tr>
            <th>Version</th>
            <th>Name</th>
            <th>No. simulations</th>
            <th>Investigator</th>
            <th>Date</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {% for batch in simulation_batches %}
        <tr>
            <td>{{ batch.organism_version }}</td>
            <td><a href="{% url wcdbweb.views.simulation_batch id=batch.id %}">{{ batch.name }}</a></td>
            <td>{{ batch.simulations.all|length }}</td>
            <td><a href="{% url wcdbweb.views.investigator id=batch.investigator.id %}">{{ batch.investigator.user.get_full_name }}</a></td>
            <td>{{ batch.date|date:"M j, Y" }}</td>
            <td>
                <a href="{% url wcdbweb.views.simulation_batch_download id=batch.id %}">HDF5</a> | 
                <a href="{% url wcdbweb.views.simulation_batch_sedml id=batch.id %}">SED-ML</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Investigators</h2>
<table class="table list_organism__investigators">
    <thead>
        <tr>
            <th>Name</th>
            <th>Affiliation</th>
            <th>No. batches</th>
            <th>No. simulations</th>
        </tr>
    </thead>
    <tbody>
        {% for investigator in investigators %}
        <tr>
            <td><a href="{% url wcdbweb.views.investigator id=investigator.id %}">{{ investigator.full_name }}</a></td>
            <td>{{ investigator.affiliation }}</td>
            <td>{{ investigator.n_simulation_batch }}</td>
            <td>{{ investigator.n_simulation }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}

{% block action_icons %}
{% if request.user.is_authenticated %}
<a href="{% url wcdbweb.views.organism_download id=organism.id %}"><img src="{% get_static_prefix %}img/hdf.png" alt="HDF5" title="HDF5"/></a>
{% endif %}
{{ block.super }}
{% endblock %}