{% extends "base.html" %}

{% comment %}
Process page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2014-03-10
{% endcomment %}

{% load static %}
{% load template_extras %}

{% block head_title %}{{ block.super }} &rsaquo; Process &rsaquo; {{process_name}}{% endblock %}

{% block content %}

<div>
<h1><a href="{% url wcdbweb.views.list_processes %}">Process</a> &rsaquo; {{process_name}}</h1>

<table class="list_process_option_parameter">
    <thead>
        <tr>
            <td></td>
            {% for id, organism in organisms.iteritems %}
            <th><div><i><a href="{% url wcdbweb.views.organism id=id %}">{{organism.name}}</i></a></div></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <!-- options -->
        <tr>
            <th colspan="{{organisms|length|add:1}}">Options</td>
        </tr>
        {% regroup options by name as option_groups %}
        {% for option in option_groups %}
        <tr>
            <td class="level1"><a href="{% url wcdbweb.views.option process_name=process_name option_name=option.grouper %}">{{option.grouper}}</a>{% if option.list.0.units %} ({{option.list.0.units}}){% endif %}</td>
                {% regroup_by option.list by 'simulation_batch__organism__id' organism_ids as option_organisms %}
                {% for option_organism in option_organisms %}
                    {% regroup option_organism.list by index as option_organism_indices %}
            <td class="level1">
                    {% if option_organism.list|length > 0 %}
                        {% if option_organism_indices.0.list.0.n_batches == organisms|get_organisms_n_batches:option_organism.grouper %}
                            {% if option_organism_indices|length > 1 %}
                                [{%for option_organism_index in option_organism_indices%}{{option_organism_index.list.0.value}}{%if not forloop.last%}, {%endif%}{%endfor%}]
                            {% else %}
                                {{option_organism_indices.0.list.0.value}}
                            {% endif %}
                        {% else %}
                        &#9632;
                        {% endif %}
                    {% endif %}
            </td>
                {% endfor %}
        </tr>
        {% endfor %}
        
        <!-- parameters -->
        <tr>
            <th colspan="{{organisms|length|add:1}}">Parameters</td>
        </tr>
        {% regroup parameters by name as parameter_groups %}
        {% for parameter in parameter_groups %}
        <tr>
            <td class="level1"><a href="{% url wcdbweb.views.parameter process_name=process_name parameter_name=parameter.grouper %}">{{parameter.grouper}}</a>{% if parameter.list.0.units %} ({{parameter.list.0.units}}){% endif %}</td>
                {% regroup_by parameter.list by 'simulation_batch__organism__id' organism_ids as parameter_organisms %}
                {% for parameter_organism in parameter_organisms %}
                    {% regroup parameter_organism.list by index as parameter_organism_indices %}
            <td class="level1">
                    {% if parameter_organism.list|length > 0 %}
                        {% if parameter_organism_indices.0.list.0.n_batches == organisms|get_organisms_n_batches:parameter_organism.grouper %}
                            {% if parameter_organism_indices|length > 1 %}
                                [{%for parameter_organism_index in parameter_organism_indices%}{{parameter_organism_index.list.0.value}}{%if not forloop.last%}, {%endif%}{%endfor%}]
                            {% else %}
                                {{parameter_organism_indices.0.list.0.value}}
                            {% endif %}
                        {% else %}
                        &#9632;
                        {% endif %}
                    {% endif %}
            </td>
                {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}