{% extends "base.html" %}

{% comment %}
List simulation batches page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2013-09-13
{% endcomment %}

{% load static %}

{% block head_title %}{{ block.super }} &rsaquo; Search{% endblock %}

{% block content %}

<div>
<h1>Search: "{{ query }}"</h1>

{% include "search_results.html" %}

</div>

{% endblock %}

{% block action_icons %}
<a href="{% url wcdbweb.views.search_basic %}?query={{query}}&engine={{engine}}&format=hdf5"><img src="{% get_static_prefix %}img/hdf.png" alt="HDF5" title="HDF5"/></a>
{{ block.super }}
{% endblock %}