{% comment %}
List simulation batches page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2013-09-13
{% endcomment %}

{% load static %}

<script>
function addFilters(type) {
    var input = $('#n_' + type + '_filters');
    input.val((parseInt(input.val()) + 3).toString());
    
    document.search_advanced.submit();
}
</script>

<form name="search_advanced" action="{% url wcdbweb.views.search_advanced %}" method="post">
{% csrf_token %}
    <table class="search_advanced">
        <!-- investigator -->
        <tbody>
            <tr>
                <th colspan="2">Investigator</th>
            </tr>
            <tr>
                <td>First name</td>
                <td><input class="{% if form.investigator_name_first.errors %}error{% endif %}" type="text" name="{{form.investigator_name_first.html_name}}" title="{{form.investigator_name_first.help_text}}" value="{{form.investigator_name_first.data|default_if_none:""}}" /></td>
            </tr>
            <tr>
                <td>Last name</td>
                <td><input class="{% if form.investigator_name_last.errors %}error{% endif %}" type="text" name="{{form.investigator_name_last.html_name}}" title="{{form.investigator_name_last.help_text}}" value="{{form.investigator_name_last.data|default_if_none:""}}" /></td>
            </tr>
            <tr>
                <td>Affiliation</td>
                <td><input class="{% if form.investigator_affiliation.errors %}error{% endif %}" type="text" name="{{form.investigator_affiliation.html_name}}" title="{{form.investigator_affiliation.help_text}}" value="{{form.investigator_affiliation.data|default_if_none:""}}" /></td>
            </tr>
        </tbody>
        
        <!-- organism -->
        <tbody>
            <tr>
                <th colspan="2">Organism</th>
            </tr>
            <tr>
                <td>Name</td>
                <td><input class="{% if form.organism_name.errors %}error{% endif %}" type="text" name="{{form.organism_name.html_name}}" title="{{form.organism_name.help_text}}" value="{{form.organism_name.data|default_if_none:""}}" /></td>
            </tr>
            <tr>
                <td>Version</td>
                <td><input class="{% if form.organism_version.errors %}error{% endif %}" type="text" name="{{form.organism_version.html_name}}" title="{{form.organism_version.help_text}}" value="{{form.organism_version.data|default_if_none:""}}" /></td>
            </tr>
        </tbody>

        <!-- metadata -->
        <tbody>
            <tr>
                <th colspan="2">Simulation metadata</th>
            </tr>
            <tr>
                <td>Name</td>
                <td><input class="{% if form.simulation_batch_name.errors %}error{% endif %}" type="text" name="{{form.simulation_batch_name.html_name}}" title="{{form.simulation_batch_name.help_text}}" value="{{form.simulation_batch_name.data|default_if_none:""}}" /></td>
            </tr>
            <tr>
                <td>IP address</td>
                <td><input class="{% if form.simulation_batch_ip.errors %}error{% endif %}" type="text" name="{{form.simulation_batch_ip.html_name}}" title="{{form.simulation_batch_ip.help_text}}" value="{{form.simulation_batch_ip.data|default_if_none:""}}" /></td>
            </tr>
            <tr>
                <td>Date (mm/dd/yyyy)</td>
                <td><input class="{% if form.simulation_batch_date.errors %}error{% endif %}" type="text" name="{{form.simulation_batch_date.html_name}}" title="{{form.simulation_batch_date.help_text}}" value="{{form.simulation_batch_date.data|default_if_none:""}}" /></td>
            </tr>
            <tr>
                <td>Options (<a href="javascript:addFilters('option');">more</a>)</td>
                <td>
                    <input type="hidden" id="{{form.n_option_filters.html_name}}" name="{{form.n_option_filters.html_name}}" value="{{form.n_option_filters.data}}" />
                    <table class="options">
                        <tbody>
                        {% for option_form in option_forms %}
                        <tr>
                            <td>
                                <select class="{% if option_form.option.errors %}error{% endif %}" name="{{option_form.option.html_name}}" title="{{option_form.option.help_text}}" >
                                    <option{% if option_form.option.data == "" %} selected{% endif %}></option>
                                    {% for choice_group in option_form.option.field.choices %}
                                    <optgroup label="{{ choice_group.0 }}">
                                    {% for choice in choice_group.1 %}
                                        <option value="{{ choice.0 }}"{% if choice.0 == option_form.option.data %} selected{% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                    </optgroup>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select class="{% if option_form.operator.errors %}error{% endif %}" name="{{option_form.operator.html_name}}" title="{{option_form.operator.help_text}}" >
                                    {% for choice in option_form.operator.field.choices %}
                                    <option value="{{ choice.0 }}"{% if choice.0 == option_form.operator.data or option_form.operator.data == "" and forloop.first %} selected{% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input class="{% if option_form.value.errors %}error{% endif %}" type="text" name="{{option_form.value.html_name}}" title="{{option_form.value.help_text}}" value="{{option_form.value.data|default_if_none:""}}" /></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Parameters (<a href="javascript:addFilters('parameter');">more</a>)</td>
                <td>
                    <input type="hidden" id="{{form.n_parameter_filters.html_name}}" name="{{form.n_parameter_filters.html_name}}" value="{{form.n_parameter_filters.data}}" />
                    <table class="parameters">
                        <tbody>
                        {% for parameter_form in parameter_forms %}
                        <tr>
                            <td>
                                <select class="{% if parameter_form.parameter.errors %}error{% endif %}" name="{{parameter_form.parameter.html_name}}" title="{{parameter_form.parameter.help_text}}" >
                                    <option{% if parameter_form.parameter.data == "" %} selected{% endif %}></option>
                                    {% for choice_group in parameter_form.parameter.field.choices %}
                                    <optgroup label="{{ choice_group.0 }}">
                                    {% for choice in choice_group.1 %}
                                        <option value="{{ choice.0 }}"{% if choice.0 == parameter_form.parameter.data %} selected{% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                    </optgroup>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select class="{% if parameter_form.operator.errors %}error{% endif %}" name="{{parameter_form.operator.html_name}}" title="{{parameter_form.operator.help_text}}" >
                                    {% for choice in parameter_form.operator.field.choices %}
                                    <option value="{{ choice.0 }}"{% if choice.0 == parameter_form.operator.data or parameter_form.operator.data == "" and forloop.first %} selected{% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input class="{% if parameter_form.value.errors %}error{% endif %}" type="text" name="{{parameter_form.value.html_name}}" title="{{parameter_form.value.help_text}}" value="{{parameter_form.value.data|default_if_none:""}}" /></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Proceses (<a href="javascript:addFilters('process');">more</a>)</td>
                <td>
                    <input type="hidden" id="{{form.n_process_filters.html_name}}" name="{{form.n_process_filters.html_name}}" value="{{form.n_process_filters.data}}" />
                    <table class="processes">
                        <tbody>
                        {% for process_form in process_forms %}
                        <tr>
                            <td>
                                <select class="{% if process_form.process.errors %}error{% endif %}" name="{{process_form.process.html_name}}" title="{{process_form.process.help_text}}" >
                                    <option{% if process_form.process.data == "" %} selected{% endif %}></option>
                                    {% for choice in process_form.process.field.choices %}
                                    <option value="{{ choice.0 }}"{% if choice.0 == process_form.process.data %} selected{% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select class="{% if process_form.modeled.errors %}error{% endif %}" name="{{process_form.modeled.html_name}}" title="{{process_form.modeled.help_text}}" >
                                    {% for choice in process_form.modeled.field.choices %}
                                    <option value="{{ choice.0 }}"{% if choice.0 == process_form.modeled.data or process_form.modeled.data == "" and forloop.first %} selected{% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        
        <tbody>
            <tr>
                <th colspan="2">
                    <input type="Submit" name="Search" />
                </th>
            </tr>
        </tbody>
    </table>
    
    
</form>