{% extends "base.html" %}

{% comment %}
List simulation batches page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2014-03-07
{% endcomment %}

{% load static %}

{% block head_title %}{{ block.super }} &rsaquo; Advanced search{% if valid %} &rsaquo; Results{% endif %}{% endblock %}

{% block content %}

<div>
<h1>Advanced search{% if valid %} &rsaquo; Results{% endif %}</h1>

{% if valid %}
{% include "search_results.html" %}
<br/><br/>
<h2>Query</h2>
{% endif %}

{% include "search_advanced_form.html" %}

</div>

{% endblock %}

{% block action_icons %}
{% if valid %}
<a href="javascript:$('#{{form.result_format.html_name}}').val('hdf5'); document.search_advanced.submit();"><img src="{% get_static_prefix %}img/hdf.png" alt="HDF5" title="HDF5"/></a>
{% endif %}
{{ block.super }}
{% endblock %}