{% extends "base.html" %}

{% comment %}
List simulation batches page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2013-09-16
{% endcomment %}

{% load static %}
{% load template_extras %}

{% block head_title %}{{ block.super }} :: Batch :: {{ batch.organism.name }} &ndash; {{ batch.name }}{% endblock %}

{% block content %}

<div>
<h1>Simulation batch :: {{ batch.name }}</h1>

<h2>Metadata</h2>
<script>
var meta = [
    {label: 'Organism: '},
    {label: 'Investigator: '},
    {label: 'IP address: '},
    {label: 'Date: '},
];
$(function() {
    $('#meta-tree').tree({
        data: meta
    });
	$('#meta-tree > ul.jqtree-tree > li.jqtree_common:nth-child(1)').find('span.jqtree-title').html('Organism: <a href="{% url wcdbweb.views.organism id=batch.organism.id %}">{{ batch.organism.name }}</a> ({{ batch.organism_version }})');
	$('#meta-tree > ul.jqtree-tree > li.jqtree_common:nth-child(2)').find('span.jqtree-title').html('Investigator: <a href="{% url wcdbweb.views.investigator id=batch.investigator.id %}">{{ batch.investigator.user.get_full_name }}</a>, {{ batch.investigator.affiliation }}');
	$('#meta-tree > ul.jqtree-tree > li.jqtree_common:nth-child(3)').find('span.jqtree-title').html('IP address: {{ batch.ip }}');
	$('#meta-tree > ul.jqtree-tree > li.jqtree_common:nth-child(4)').find('span.jqtree-title').html('Date: {{ batch.date|date:"M j, Y" }}');
});
</script>
<div id="meta-tree" style="margin-top:-6px"></div>

<h2>Options ({{ batch.options.all.count }})</h2>
<script>
var options = [
    {% for name, value_units in options.iteritems %}
    {% if not value_units.value %}
        {label:'{{name|capfirst}}', children: [
        {% for sub_name, sub_value_units in value_units.iteritems %}
            {label:'{{sub_name}}', children: [
            {% for sub_sub_name, sub_sub_value_units in sub_value_units.iteritems %}
                {% if sub_sub_value_units|is_list %}
                {label:'{{sub_sub_name }}{% with sub_sub_sub_value_units=sub_sub_value_units|first %}{% if sub_sub_sub_value_units.units %} ({{sub_sub_sub_value_units.units}}){% endif %}{% endwith %}: {% for sub_sub_sub_value_units in sub_sub_value_units %}{{sub_sub_sub_value_units.value}}{% if not forloop.last %}, {% endif %}{% endfor %}'},
                {% else %}
                {label:'{{sub_sub_name }}{% if sub_sub_value_units.units %} ({{sub_sub_value_units.units}}){% endif %}: {{ sub_sub_value_units.value }}'},
                {% endif %}
            {% endfor %}
                ]},
        {% endfor %}
            ]},
    {% else %}
        {label: '{{name}}{% if value_units.units %} ({{value_units.units}}){% endif %}: {{value_units.value}}'},
    {% endif %}
    {% endfor %}
    ];
$(function() {
    $('#options-tree').tree({
        data: options
    });
});
</script>
<div id="options-tree" style="margin-top:-6px"></div>

<h2>Parameters ({{ batch.parameters.all.count }})</h2>
<script>
var parameters = [
    {% for name, value_units in parameters.iteritems %}
    {% if not value_units.value %}
        {label:'{{name|capfirst}}', children: [
        {% for sub_name, sub_value_units in value_units.iteritems %}
            {label:'{{sub_name}}', children: [
            {% for sub_sub_name, sub_sub_value_units in sub_value_units.iteritems %}
                {% if sub_sub_value_units|is_list %}
                {label:'{{sub_sub_name }}{% with sub_sub_sub_value_units=sub_sub_value_units|first %}{% if sub_sub_sub_value_units.units %} ({{sub_sub_sub_value_units.units}}){% endif %}{% endwith %}: {% for sub_sub_sub_value_units in sub_sub_value_units %}{{sub_sub_sub_value_units.value}}{% if not forloop.last %}, {% endif %}{% endfor %}'},
                {% else %}
                {label:'{{sub_sub_name }}{% if sub_sub_value_units.units %} ({{sub_sub_value_units.units}}){% endif %}: {{ sub_sub_value_units.value }}'},
                {% endif %}
            {% endfor %}
                ]},
        {% endfor %}
            ]},
    {% else %}
        {label: '{{name}}{% if value_units.units %} ({{value_units.units}}){% endif %}: {{value_units.value}}'},
    {% endif %}
    {% endfor %}
    ];
$(function() {
    $('#parameters-tree').tree({
        data: parameters
    });
});
</script>
<div id="parameters-tree" style="margin-top:-6px"></div>

<h2>Processes ({{ processes|length }})</h2>
<script>
var processes = [
    {% for process in processes %}    
    {label: '{{process.name}}'},
    {% endfor %}
];
$(function() {
    $('#processes-tree').tree({
        data: processes
    });
});
</script>
<div id="processes-tree" style="margin-top:-6px"></div>

<h2>States ({{ states|length }})</h2>
<script>
var states = [
    {% for state in states %}    
    {label: '{{state.name}}', children: [
        {% for prop in state.properties.all %}
        {label: '{{prop.name}}'},
        {% endfor %}
        ]},
    {% endfor %}
];
$(function() {
    $('#states-tree').tree({
        data: states
    });
});
</script>
<div id="states-tree" style="margin-top:-6px"></div>

<h2>Simulations</h2>
<table class="table list_simulation_batch__simulations inparagraph">
    <thead>
        <tr>
            <th>Index</th>
            <th>Length</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {% for sim in batch.simulations|order_by:'batch_index' %}
        <tr>
            <td><a href="{% url wcdbweb.views.simulation id=sim.id %}">{{ sim.batch_index }}</a></td>
            <td>{{ sim.length }}</td>
            <td><a href="{% url wcdbweb.views.simulation_download id=sim.id %}">HDF5</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}

{% block action_icons %}
<a href="{% url wcdbweb.views.simulation_batch_download id=batch.id %}"><img src="{% get_static_prefix %}img/hdf.png" alt="HDF5" title="HDF5"/></a>
{{ block.super }}
{% endblock %}