{% extends "base.html" %}

{% comment %}
State property/row page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2014-03-10
{% endcomment %}

{% load static %}
{% load template_extras %}

{% block head_title %}{{ block.super }} :: State :: {{state_name}} :: {{property_name}} :: {{row_name}}{% endblock %}

{% block content %}

<div>
<h1>
<a href="{% url wcdbweb.views.list_states %}">State</a> :: 
<a href="{% url wcdbweb.views.state state_name=state_name %}">{{state_name}}</a> :: 
<a href="{% url wcdbweb.views.state_property state_name=state_name property_name=property_name %}">{{property_name}}</a> :: 
{{row_name}}
</h1>

<table class="list_state_property_row_simulation_batches">
    <thead>
        <tr>
            <td></td>
            {% for col_name in col_names %}
            <th>{{col_name}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% regroup cols_batches_organisms by property__state__simulation_batch__organism__name as organisms %}
        {% for organism in organisms %}
            <tr>
                <th colspan="{{col_names|length|add:1}}"><a href="{% url wcdbweb.views.organism id=organism.list.0.property__state__simulation_batch__organism__id %}">{{organism.grouper}}</a></th>
            </tr>
            {% regroup organism.list by property__state__simulation_batch__name as batches %}
            {% for batch in batches %}
            <tr>
                <td class="level1"><a href="{% url wcdbweb.views.simulation_batch id=batch.list.0.property__state__simulation_batch__id %}">{{batch.grouper}}</a></td>
                {% regroup_by batch.list by 'name' col_names as cols %}
                {% for col in cols %}
                <td class="level1">{% if col.list|length > 0 %}<a href="{% url wcdbweb.views.state_property_row_col_batch state_name=state_name property_name=property_name row_name=row_name col_name=col.grouper batch_id=col.list.0.property__state__simulation_batch__id %}">x</a>{% endif %}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>    
</table>

</div>

{% endblock %}