{% extends "base.html" %}

{% comment %}
State page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2014-03-10
{% endcomment %}

{% load static %}
{% load template_extras %}

{% block head_title %}{{ block.super }} &rsaquo; State &rsaquo; {{state_name}}{% endblock %}

{% block content %}

<div>
<h1><a href="{% url wcdbweb.views.list_states %}">State</a> &rsaquo; {{state_name}}</h1>

<table class="list_state_option_parameter_property">
    <thead>
        <tr>
            <td></td>
			<th class="previewable"><div>Preview-able</div></th>
            {% for id, organism in organisms.iteritems %}
            <th><div><i><a href="{% url wcdbweb.views.organism id=id %}">{{organism.name}}</i></a></div></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <!-- options -->
        <tr>
            <th colspan="{{organisms|length|add:2}}">Options</td>
        </tr>
        {% regroup options by name as option_groups %}
        {% for option in option_groups %}
        <tr>
            <td class="level1"><a href="{% url wcdbweb.views.option state_name=state_name option_name=option.grouper %}">{{option.grouper}}</a>{% if option.list.0.units %} ({{option.list.0.units}}){% endif %}</td>
			<td class="level1"></td>
                {% regroup_by option.list by 'simulation_batch__organism__id' organism_ids as option_organisms %}
                {% for option_organism in option_organisms %}
                    {% regroup option_organism.list by index as option_organism_indices %}
            <td class="level1 organisms">
                    {% if option_organism.list|length > 0 %}
                        {% if option_organism_indices.0.list.0.n_batches == organisms|get_organisms_n_batches:option_organism.grouper %}
                            {% if option_organism_indices|length > 1 %}
                                [{%for option_organism_index in option_organism_indices%}{{option_organism_index.list.0.value}}{%if not forloop.last%}, {%endif%}{%endfor%}]
                            {% else %}
                                {{option_organism_indices.0.list.0.value}}
                            {% endif %}
                        {% else %}
                        &#9632;
                        {% endif %}
                    {% endif %}
            </td>
                {% endfor %}
        </tr>
        {% endfor %}
        
        <!-- parameters -->
        <tr>
            <th colspan="{{organisms|length|add:2}}">Parameters</td>
        </tr>
        {% regroup parameters by name as parameter_groups %}
        {% for parameter in parameter_groups %}
        <tr>
            <td class="level1"><a href="{% url wcdbweb.views.parameter state_name=state_name parameter_name=parameter.grouper %}">{{parameter.grouper}}</a>{% if parameter.list.0.units %} ({{parameter.list.0.units}}){% endif %}</td>
			<td class="level1"></td>
                {% regroup_by parameter.list by 'simulation_batch__organism__id' organism_ids as parameter_organisms %}
                {% for parameter_organism in parameter_organisms %}
                    {% regroup parameter_organism.list by index as parameter_organism_indices %}
            <td class="level1 organisms">
                    {% if parameter_organism.list|length > 0 %}
                        {% if parameter_organism_indices.0.list.0.n_batches == organisms|get_organisms_n_batches:parameter_organism.grouper %}
                            {% if parameter_organism_indices|length > 1 %}
                                [{%for parameter_organism_index in parameter_organism_indices%}{{parameter_organism_index.list.0.value}}{%if not forloop.last%}, {%endif%}{%endfor%}]
                            {% else %}
                                {{parameter_organism_indices.0.list.0.value}}
                            {% endif %}
                        {% else %}
                        &#9632;
                        {% endif %}
                    {% endif %}
            </td>
                {% endfor %}
        </tr>
        {% endfor %}
        
        <!-- properties -->
        <tr>
            <th colspan="{{organisms|length|add:2}}">Properties</td>
        </tr>
        {% regroup properties by name as property_groups %}
        {% for property in property_groups %}
        <tr>
            <td class="level1"><a href="{% url wcdbweb.views.state_property state_name=state_name property_name=property.grouper %}">{{property.grouper}}</a></td>
			<td class="level1 previewable">
			{% regroup property.list by labels__dimension as dimensions %}			
			{% if dimensions|length > 1 %}
			&#10003;
			{% endif %}
			</td>
                {% regroup_by property.list by 'state__simulation_batch__organism__id' organism_ids as property_organisms %}
                {% for property_organism in property_organisms %}
            <td class="level1 organisms">{% if property_organism.list|length > 0 %}{% if property_organism.list.0.n_batches == organisms|get_organisms_n_batches:property_organism.grouper %}&#10003;{% else %}&#9632;{% endif %}{% endif %}</td>
                {% endfor %}
        </tr>
        {% endfor %}
        
    </tbody>
</table>

</div>

{% endblock %}

{% block action_icons %}
{% if request.user.is_authenticated %}
<a href="{% url wcdbweb.views.state_download state_name=state_name %}"><img src="{% get_static_prefix %}img/hdf.png" alt="HDF5" title="HDF5"/></a>
{% endif %}
{{ block.super }}
{% endblock %}