{% extends "base.html" %}

{% comment %}
State property/row page

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Created: 2014-03-10
{% endcomment %}

{% load static %}
{% load template_extras %}

{% block head_title %}{{ block.super }} &rsaquo; State &rsaquo; {{state_name}} &rsaquo; {{property_name}}{% if row_name != '' %} &rsaquo; {{row_name}}{% endif %}{% endblock %}

{% block head %}
{{ block.super }}
	<!-- disallow bots -->
	<meta name="robots" content="none" />
{% endblock %}

{% block content %}

<div>
<h1>
<a href="{% url wcdbweb.views.list_states %}">State</a> &rsaquo; 
<a href="{% url wcdbweb.views.state state_name=state_name %}">{{state_name}}</a> &rsaquo; 
<a href="{% url wcdbweb.views.state_property state_name=state_name property_name=property_name %}">{{property_name}}</a> 
{% if row_name != '' %} &rsaquo; {{row_name}}{% endif %}
</h1>

<table class="list_state_property_row_simulation_batches">
    <thead>
        <tr>
            <td></td>
            {% if col_names|length > 1 or col_names.0 != '' %}
                {% for col_name in col_names %}
            <th><div>{{col_name}}</div></th>
                {% endfor %}
            {% else %}
            <th><div><i>State</i></div></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% regroup cols_batches_organisms by property__state__simulation_batch__organism__name as organisms %}
        {% for organism in organisms %}
            <tr>
                <th colspan="{{col_names|length|add:1}}"><a href="{% url wcdbweb.views.organism id=organism.list.0.property__state__simulation_batch__organism__id %}">{{organism.grouper}}</a></th>
            </tr>
            {% regroup organism.list by property__state__simulation_batch__name as batches %}
            {% for batch in batches %}
            <tr>
                <td class="level1"><a href="{% url wcdbweb.views.simulation_batch id=batch.list.0.property__state__simulation_batch__id %}">{{batch.grouper}}</a></td>
                {% regroup_by batch.list by 'name' col_names as cols %}
                {% for col in cols %}
                <td class="level1">
                {% if col.list|length > 0 %}
                    {% if batch.list.0.property__state__simulation_batch__id in property_value_batches %}
                    <a href="{% url wcdbweb.views.state_property_row_col_batch state_name=state_name property_name=property_name row_name=row_name col_name=col.grouper batch_id=col.list.0.property__state__simulation_batch__id %}">&#10003;</a>
                    {% else %}
                    &#10003;
                    {% endif %}                    
                {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>    
</table>

</div>

{% endblock %}

{% block action_icons %}
{% if request.user.is_authenticated %}
<a href="{% url wcdbweb.views.state_property_row_download state_name=state_name property_name=property_name row_name=row_name %}"><img src="{% get_static_prefix %}img/hdf.png" alt="HDF5" title="HDF5"/></a>
{% endif %}
{{ block.super }}
{% endblock %}